[2014-03-13 21:33] jeffbcross opened #2 "A developer should be able to test their direct or indirect use of $http service"
Associated with epic: https://github.com/angular/ngHttp/issues/1

In Angular 1.x, $http facilitated this through a robust mock [$httpBackend](http://docs.angularjs.org/api/ngMock/service/$httpBackend). Despite its usefulness, this service can be complicated and somewhat confusing. The new solution should strive to simplify `$http` testing for developers.

## Constraints for New Solution

 * Should

[2014-06-09 17:08] jeffbcross opened #11 "Implement strategy for XSRF Protection"

[2014-06-09 17:25] jeffbcross opened #12 "Add ability to set default headers"

[2014-06-19 16:36] jeffbcross opened #13 "Connection swapping"
It should be easy to swap the underlying connection mechanism with a platform-specific connection utility. For example, the http library should be usable on node.js by swapping out the underlying connection.

Right now, this is enabled by passing a ConnectionClass to http.request, which will use the bundled XHRConnection by default. This is also how http swaps out the mock backend, by passing Conn

[2014-06-19 17:05] jeffbcross opened #14 "Caching"
Http should support flexible caching strategies.

Use cases:

 * I want to cache the response for a specific url (including params) using http's default cache, so subsequent calls will receive the cached response
 * I want to provide configuration options at the class level (defaults) and request level to control the expiration of a cache, as well as default caching behavior.
 * I want to be able

[2014-06-19 17:53] jeffbcross opened #15 "simplify Connection interface"
The semantics of the Connection interface (e.g. XHRConnection) are mapped after XMLHttpRequest in the methods and signatures;, i.e. `connection.open(method, url)` & `connection.send(data)`.

Instead of being modeled after what's below it, the IConnection interface should be designed how Http wants to use it.

Existing interface:
[code]

Suggested changing the class to be injectable instead of manu

[2014-06-20 19:52] btford opened #22 "Docs: a "see also" section describing how this lib differs from existing ones"
If we're writing an HTTP module, we should be "good citizens" and explain how this lib differs in implementation in comparison to existing ones (for example: https://github.com/mikeal/request ).

Would also be good to explain which browsers/environments this lib runs in (for instance: I don't think we're targeting node).

[2014-06-23 19:59] caitp opened #29 "Improve HTTP api for transport selection"
Currently, in order to use a connection class which is not XMLHttpRequest, it's necessary to pass an entire class constructor into the http.request() method. This isn't necessarily elegant, and is a little bit awkward.

My proposal is to be able to select the transport by a string under which it's registered. Ideally, it would be possible to register custom connection classes at configuration time

[2014-06-25 17:13] jeffbcross opened #30 "Connection open() and send() should accept full request object"

[2014-06-25 21:51] jeffbcross opened #31 "Consider addition of a configuration phase"
Per some discussion on #26 , we should determine whether Http should have a limited phase during which certain items can be configured, particularly interceptors #5 and swappable Connections #13 .

[2014-06-25 21:55] jeffbcross opened #32 "Document API"
There are no docs. There should be. The way this project is documented should be consistent with other angular 2 modules.

[2014-06-25 22:46] jeffbcross opened #33 "Consolidate interfaces into single "types" module"

[2014-06-25 22:47] jeffbcross opened #34 "Remove "Utils" module"
The module contains one unused method

[2014-06-26 18:56] jeffbcross opened #37 "Restore Firefox on Travis"
I removed the SL_Firefox target from the travis script to get the build passing. The issue should be explored further to see what was causing the failures that started occurring with this test https://travis-ci.org/angular/http/builds/28451130

[2014-06-27 17:31] jeffbcross opened #39 "support configurable array parameter serialization"
@caitp made comments in #28 that are worth addressing.

There is some inconsistency in how servers and applications expect query parameters to be serialized. The QueryParams module should provide a means of configuring the serializer.

 * Performing a request with an object with a key/value where the key already exists in the url. Should it be appended to the existing value? e.g. `http.request({ur

[2014-08-11 09:15] alexisargyris opened #44 "authorization info embedded in the URL"
Hello,

I am on the latest Chrome and trying a call like this `http://username:password@example.com/something`.

It looks as if the authentication part is being stripped out. If so, who is doing that, Http or the browser? I understand that passing authentication information in this way has been deprecated and support for it, currently, is in a grey-ish area.

Thanks in advance

[2014-11-16 00:18] ilanbiala opened #46 "Ready for prime time?"
is this ready to be used? I see that tests are passing but some issues are still open and the README says that it is in development.

[2015-03-22 15:57] #46 closed

[2015-05-06 15:55] nalbion opened #47 "port to TypeScript (or provide d.ts file)"
I'm not sure if this project is still active - I didn't find it in the main Angular2 project...

I tried to port to TypeScript (I'm playing with an Angular2 TypeScript demo with AJAX services), but didn't have much luck - I think `di` and `prophecy` need to be ported first.

https://github.com/nalbion/http/tree/feature/typescript

[2015-08-30 21:39] robbbz commented on #47
:+1:

[2016-01-28 23:08] #2 closed

[2016-01-28 23:08] #11 closed

[2016-01-28 23:08] #12 closed

[2016-01-28 23:08] #13 closed

[2016-01-28 23:08] #14 closed

[2016-01-28 23:08] #15 closed

[2016-01-28 23:08] #22 closed

[2016-01-28 23:08] #29 closed

[2016-01-28 23:08] #30 closed

[2016-01-28 23:08] #31 closed

[2016-01-28 23:08] #32 closed

[2016-01-28 23:08] #33 closed

[2016-01-28 23:08] #34 closed

[2016-01-28 23:08] #37 closed

[2016-01-28 23:08] #39 closed

[2016-01-28 23:08] #44 closed

[2016-01-28 23:08] #47 closed

[2016-01-28 23:08] jeffbcross opened #49 "Migrate http from angular2 repo"

[2016-02-08 19:01] robwormald opened #50 "http: PUT and POST body param should accept an object"
_From @wardbell on January 17, 2016 17:6_

As of beta.1, `.put` and `.post` require a string body property (see also #6533).

It is a PITA to `JSON.stringify` the body object everywhere in our calling code. Other http clients (such as [jQuery ajax](http://api.jquery.com/jquery.post/)) accept either string or object; they `JSON.stringify` the object for us.

_Copied from original issue: angular/ang

[2016-02-08 19:01] robwormald commented on #50
duplicate of https://github.com/angular/angular/issues/5211

[2016-02-08 19:01] robwormald commented on #50
_From @wardbell on January 17, 2016 17:12_

Oh you're a fast responder @robwormald! It is a duplicate in the sense that it is under the umbrella of your issue. That's a big umbrella though and this specific point might be overlooked.

[2016-02-08 19:01] robwormald commented on #50
_From @PascalPrecht on January 17, 2016 22:27_

It's also duplicate of https://github.com/angular/angular/issues/5517

However, as more ppl are requesting this, we should do sth. about it. Is there something stopping us from implementing that?

[2016-02-08 19:01] robwormald commented on #50
nothing but the finite amount of hours in the day!

[2016-02-08 19:01] robwormald commented on #50
_From @PascalPrecht on January 17, 2016 22:57_

I think I saw a pending PR from you @robwormald that addresses this no? Otherwise I could try to take a look at this.

[2016-02-08 19:01] robwormald commented on #50
_From @wardbell on January 17, 2016 23:0_

Looks like we all want it!  Not sure why I couldn't find my predecessor's issues. Perhaps because this has been an untapped issue for so long.

[2016-02-08 19:01] robwormald commented on #50
@PascalPrecht i've got a bigger refactor which is probably gonna have to get punted in favor of some other stuff. go for it.

[2016-02-08 19:01] robwormald commented on #50
_From @spock123 on February 1, 2016 21:17_

I can see that it would be a nice addition, however I*m not sure it's a great problem that _should_ be part of the core code.. I mean, most of us will use some kind of wrapper class around the http service anyway..
So: convenient yes, super necessary no..

[2016-02-08 19:01] robwormald commented on #50
_From @aoakeson on February 2, 2016 17:2_

@spock123 I agree that this will be a very nice addition, but I also think its critical to the core code.  The http service is almost useless if the only thing you can pass is a string.  People may write workarounds to do this like you suggested, (I have done this myself), and there are obvious downsides to this.  This is something that is used so frequen

[2016-02-08 19:01] robwormald commented on #50
_From @spock123 on February 3, 2016 22:21_

@aoakeson, you've convinced me.. I agree

[2016-02-08 19:01] robwormald commented on #50
_From @israelshirk on February 4, 2016 23:24_

(random guy here) I'd be glad to hop on this with a little direction - the big question in my mind is what serialization method[s] should be used, and how should they be specified for a specific request?

[2016-02-08 19:01] robwormald opened #51 "http: do not require body arg in PUT and POST methods"
_From @wardbell on January 17, 2016 5:13_

The `http.put` and `http.post` methods require a body parameter.

This is not strictly necessary. A client can send a command to the server that needs no body; it simply tells the server to do something. POST is often used to send the command.

This isn't a big deal. It's easy enough to pass a null. But this shouldn't be necessary. The body parameter shou

[2016-02-08 19:01] robwormald commented on #51
_From @thelgevold on January 17, 2016 15:47_

@wardbell , looks like @robwormald has a PR to allow us to pass an object as body instead of a json string. Perhaps your idea of making it optional could be an enhancement on this?
https://github.com/robwormald/angular/commit/6865e25cb3eabd1a84a2fbeda8702b37201c51d8

[2016-02-08 19:02] robwormald opened #52 "XHRConnection throws error on HTTP 400 responses"
_From @danielgerlag on January 14, 2016 18:38_

An HTTP 400 response is a valid response and should not invoke the observables error handler, it should still call the next handler.  The actual communication with the server did not fail, It is not an abnormal exception.

_Copied from original issue: angular/angular#6490_

[2016-02-08 19:02] robwormald commented on #52
_From @zoechi on January 14, 2016 21:43_

I guess this is a follow-up to #5130

[2016-02-08 19:02] robwormald commented on #52
_From @jeffbcross on January 14, 2016 22:42_

@danielgerlag can you specifically define `valid response`?

Angular's HTTP is an application-level library with its design skewed more toward the application-layer than network-layer. As far as applications are concerned, anything other than 200 is usually considered an error. Apps can choose if they want to treat certain errors in certain cases from

[2016-02-08 19:02] robwormald commented on #52
_From @dsebastien on January 27, 2016 18:44_

I'm hopping on this discussion as I'm facing this right now.

I've created a small RESTful back-end that returns various HTTP status codes depending on the operations and their results. Of course each and every back-end can design their services as they wish and either make extensive or limited use of the HTTP status codes.

On the client side, I've cr

[2016-02-08 19:02] robwormald opened #53 "HTTP headers should be case-insensitive"
_From @angexis on December 27, 2015 16:26_

The current (2.0.0-beta.0) implementation has got case sensitive HTTP headers (```Headers.get('Foo')``` does not return the same as  ```Headers.get('fOO')```).

However the HTTP spec http://www.ietf.org/rfc/rfc2616.txt (section 4.2) is quite specific that the header keys should **not** be case sensitive.

_Copied from original issue: angular/angular#6142

[2016-02-08 19:02] robwormald commented on #53
yup, agreed.

[2016-02-08 19:02] robwormald commented on #53
_From @alexanderchr on December 29, 2015 22:21_

Agreed.

Doing this is a bit harder than it seems because it must be possible to send cased headers as some interfaces require it. This makes the tempting solution to downcase all keys unworkable.

IMO the headers should behave like this:

If i set a header 'fOO', and then set a header 'foo', the former should be replaced.
If i set a header 'fOO', a

[2016-02-08 19:02] robwormald commented on #53
There are two scenarios to cover here:
- retrieving headers from responses
- setting headers on requests

The first is relatively straightforward - the Fetch specification appears to lowercase them all, and that works fine for retrieval as its simple to lowercase a key when its used - eg headers.get('Foo') -> 'foo'

For request headers, it appears the Fetch spec (and both Chrome and Firefox, that

[2016-02-08 19:02] robwormald opened #54 "Http: should return status code / text properly from errors"
_From @robwormald on December 27, 2015 12:48_

Currently defaulting to the base, which is incorrect for network errors (CORS, etc)

_Copied from original issue: angular/angular#6138_

[2016-02-08 19:02] robwormald opened #55 "Http: add factory static methods to Request class"
_From @robwormald on December 4, 2015 22:35_

rather than:
[code]
enable:
[code]

_Copied from original issue: angular/angular#5621_

[2016-02-08 19:03] robwormald opened #56 "Add an optional selector argument to the http methods"
_From @blesh on December 4, 2015 21:56_

In RxJS, it's common to provide optional resultSelector arguments for operators that will commonly have a `map` right after them. This is done to avoid incurring an additional subscription for the `map` operator, since it's really likely to be the next thing to happen.

I'm proposing changing [this line](https://github.com/angular/angular/blob/d388c0ae62cce

[2016-02-08 19:03] robwormald commented on #56
@blesh i like this idea, i'll implement it as part of #4472. :+1:

[2016-02-08 19:03] robwormald commented on #56
saw this - https://github.com/angular/angular/issues/5876#issuecomment-168127333

@blesh does it make sense here (like the selector in mergeMap) to pass both the req and the res into the selector? eg:
[code]

[2016-02-08 19:03] robwormald commented on #56
_From @benjamingr on December 31, 2015 8:0_

I don't understand why this can't be optimized away from the Rx side.

[2016-02-08 19:03] robwormald commented on #56
_From @blesh on December 31, 2015 8:24_

It's a non-trivial optimization. Also, resultSelector arguments are common in RxJS, so this design would be second-nature to those familiar with the library. Any RxJS-side optimization that addressed this would likely need to know something about the source observable in order to collapse that functionality, so one way or another some sort of change would n

[2016-02-08 19:03] robwormald opened #57 "JSONP JSON_CALLBACK Undefined"
_From @btormey on December 4, 2015 19:0_

**Overview**
When making a JSONP request, I expected to be able to set a `callback` parameter in the query string set to `JSON_CALLBACK` (as per this issue https://github.com/angular/angular/issues/4663) and have Angular unwrap the response without any extra configuration. However, when doing this an exception of

is thrown. The only way around this I have

[2016-02-08 19:03] robwormald commented on #57
_From @btormey on December 4, 2015 20:34_

Ah! I found the issue. It slipped my eye the first time I looked at the code, but it looks like Angular 2 is searching the url for `JSONP_CALLBACK` whereas Angular 1.x was searching for `JSON_CALLBACK`.

https://github.com/angular/angular/blob/master/modules/angular2/src/http/backends/jsonp_backend.ts#L45-L50

I guess it's just a matter now as to whether

[2016-02-08 19:03] robwormald commented on #57
_From @jeffbcross on December 5, 2015 1:29_

Thanks for reporting, @btormey! I think we should change it for consistency.

[2016-02-08 19:03] robwormald commented on #57
_From @PascalPrecht on December 5, 2015 15:39_

That's a good catch! But honestly, I find that `JSONP_CALLBACK` makes technically more sense.

[2016-02-08 19:03] robwormald commented on #57
_From @btormey on December 5, 2015 16:43_

@PascalPrecht I tend to agree that it makes more sense, however I'm not sure if it's worth changing to `JSONP_CALLBACK` in exchange for decreased consistency since it's just an arbitrary string token.

Either way, this piece of code still deserves a look. I'm not sure why the `if/else` is needed here as I believe we could achieve the same thing with
[code

[2016-02-08 19:03] robwormald commented on #57
_From @Barryrowe on January 13, 2016 19:20_

I'm probably missing something, but is there any reason that ```callback=JSON(P)_CALLBACK``` should be required to be appended to the url if deferring to Jsonp for automatically setting up the callback function? If the url does not contain "callback=" this default could be appended prior to the request.

This threw me for a loop, and I was running into

[2016-02-08 19:03] robwormald commented on #57
_From @Barryrowe on January 13, 2016 19:29_

I'm thinking something like this:

[code]

[2016-02-08 19:03] robwormald opened #58 "[testing] Http testing is really verbose"
_From @cexbrayat on December 3, 2015 15:28_

Up to alpha-47, a typical Http test looks like:

[code]

This is really verbose and not especially beginner friendly.
It's also not so easy to have several mocked requests in the same test and to test which URL and HTTP verb it was.
Am I missing something, or is there a plan to have something like `$httpBackend` to make this kind of test easier? A singl

[2016-02-08 19:03] robwormald commented on #58
_From @PascalPrecht on December 4, 2015 14:53_

The provider setup (at least) can be a predefined list as we do for `HTTP_PROVIDERS` and `ROUTER_PROVIDERS`. So maybe `HTT_MOCK_PROVIDERS` makes sense.

I think that `MockBacked` is pretty much the equivalent of `$httpBackend` in this case. Or rather the fact that we have:

[code]

Because this sets up the Backend.

I do agree that convenient methods

[2016-02-08 19:03] robwormald commented on #58
_From @cexbrayat on December 4, 2015 20:0_

Thanks for your input @PascalPrecht

In my ideal scenario, I'd like something like

[code]

And it would automatically fail if the test ends with the request not matching the verb and URL.
All this is doable manually right now, but quite cumbersome to write, quickly ends up in copy/pasting in a big app. I think some sugar would be great!

[2016-02-08 19:03] robwormald commented on #58
@cexbrayat agreed this needs some sugar, and i'm open to suggestions for sure.

With your specific example though, it doesn't make semantic sense - your application code would typically do the transformation from raw json -> js objects -> instances of a class, and so returning mock already-instantiated-objects would be quite difficult to make work as you have it described. It's important to know *

[2016-02-08 19:03] robwormald commented on #58
_From @cexbrayat on December 4, 2015 22:10_

You're right, my response should be a json object, I wrote my sample a bit too fast, sorry about that. My point was more about the general flow of the test as you imagine.

I usually rely on expect/respond for unit test to be sure that all the requests expected are triggered, and that the response is correctly handled (in success and error). The pass-th

[2016-02-08 19:03] robwormald commented on #58
_From @asvifi85 on January 2, 2016 5:6_

How to write jasmine test case for the following class having constructor which is having dependency on http?

import {Injectable} from 'angular2/core';
import {Http, HTTP_PROVIDERS} from 'angular2/http';

@Injectable()
export class MockUserService {
    items:Array<any>;

    constructor(http:Http){
        http.get('http://127.0.0.1:8080/src/data/names.js

[2016-02-08 19:03] robwormald opened #59 "feat(http): allow body to take an object"
_From @cburgdorf on November 30, 2015 23:43_

Currently the `body` of the request params needs to be a string. This should also allow to pass an object and stringify automatically.

/cc @jeffbcross @robwormald

_Copied from original issue: angular/angular#5517_

[2016-02-08 19:03] robwormald commented on #59
_From @thelgevold on December 1, 2015 2:58_

+1

[2016-02-08 19:03] robwormald commented on #59
_From @Abrissirba on December 1, 2015 7:56_

+1

[2016-02-08 19:03] robwormald commented on #59
_From @llCorvinSll on December 2, 2015 12:37_

+1

[2016-02-08 19:03] robwormald commented on #59
_From @juergenzimmermann on December 3, 2015 10:29_

+1

[2016-02-08 19:03] robwormald commented on #59
_From @PascalPrecht on December 3, 2015 18:24_

Can we please stop +1'ing on issues?

[2016-02-08 19:03] robwormald opened #60 "feat(http): improve ergonomics of search params"
_From @cburgdorf on November 30, 2015 23:42_

Currently one has to construct `URLSearchParams` by hand like this.

[code]

I think we should improve ergonomics here so that one can write just this.

[code]

/cc @jeffbcross @robwormald

_Copied from original issue: angular/angular#5516_

[2016-02-08 19:03] robwormald commented on #60
_From @wwjhu on December 3, 2015 14:58_

One (intermediate) way of dealing with this is to have the URLSearchParams constructor accept an object besides a string.

[2016-02-08 19:03] robwormald commented on #60
_From @mhov on January 14, 2016 19:2_

Since querystring params can legally be repeated maybe something (for those familiar with solr) supporting array values
[code]
yielding `q=test&fq=value1:1&fq=value2:2`

[2016-02-08 19:04] robwormald opened #61 "Improve Http ergonomics for JSON usage"
_From @robwormald on November 10, 2015 3:20_

Such as:
- developers using JSON 99.93% of the time and avoiding having to JSON.stringify things manually.
- adding appropriate content-type headers when sending JSON.
- possibly adding an operator like `.json() ` as sugar for `.map(res => res.json())`

_Copied from original issue: angular/angular#5211_

[2016-02-08 19:04] robwormald commented on #61
@jeffbcross thoughts on making a JSON focused injectable that sugars this away, and having a separate service for more low level things?

[2016-02-08 19:04] robwormald commented on #61
_From @gdi2290 on November 10, 2015 4:28_

:+1:
Time to JSON

[2016-02-08 19:04] robwormald commented on #61
_From @thelgevold on November 11, 2015 1:53_

 ```possibly adding an operator like .json() as sugar for .map(res => res.json())```
+1 for sure!

[2016-02-08 19:05] robwormald opened #62 "http.post(url, postData, options) does not set header"
_From @robhicks on October 9, 2015 14:25_

This doesn't add the content type to the header. The header remains "text/plain".

[code]

_Copied from original issue: angular/angular#4632_

[2016-02-08 19:05] robwormald commented on #62
_From @mgechev on October 10, 2015 16:55_

The headers inside options should be of type `Map<string, string[]>`.

Try this instead:

[code]

[2016-02-08 19:05] robwormald commented on #62
_From @robhicks on October 11, 2015 21:38_

@mgechev Thanks for your help.

While doing it this way doesn't make a lot of sense to me, I tried it with the same result. The Content-Type does not get changed.

[2016-02-08 19:05] robwormald commented on #62
_From @mgechev on October 12, 2015 8:2_

@robhicks would you send a plnkr that reproduces your issue?

[2016-02-08 19:05] robwormald opened #63 "refactor(http): convert Connection interface to be Observable of Response"
_From @jeffbcross on October 2, 2015 18:28_

(recapping discussion with @blesh, who will probably correct me)

## Current State

Right now, the [`Connection`](https://github.com/angular/angular/blob/a251df9df4a34592afb4984f7a3e13a186562234/modules/angular2/src/http/interfaces.ts#L22) interface, which is implemented by `XHRConnection`, `JSONPConnection`, and `MockConnection`, has simple interface:

[2016-02-08 19:05] robwormald commented on #63
_From @blesh on October 2, 2015 18:32_

You could use the `.ts` files from RxJS directly. At this point, and given your contributor status and our level of partnership, I really doubt there will be any reason to change the guts of `Observable` any time soon.

[2016-02-08 19:05] robwormald commented on #63
Sounds good to me, makes a lot of sense.

Is there any reason not to add mockRespond / mockError methods to the mockConnection? Trying to avoid too many new concepts to end users ("you have to call next() and then complete() on every request")
[code]

This would simply stuff nicely, but it would mean distributing Rx as part of the Angular codebase (vs as an npm dependency) I think? Any issues with

[2016-02-08 19:05] robwormald commented on #63
_From @jeffbcross on October 2, 2015 20:57_

@blesh yeah, I think we should try that. My real meaning about typings was that we haven't yet brought the new Rx typings into angular since our own typings distribution process has been changing, and we just wanted to get the new Rx in, so right now we have `any` in places where it shouldn't.

[2016-02-08 19:05] robwormald commented on #63
_From @blesh on October 2, 2015 21:0_

Distributing a library that returns an Observable type with no combinators is like distributing kegs of beer and no taps.

[2016-02-08 19:05] robwormald commented on #63
_From @jeffbcross on October 2, 2015 21:4_

@blesh whoa.

[2016-02-08 19:05] robwormald commented on #63
_From @jeffbcross on October 19, 2015 14:9_

The current state is also preventing retry from working correctly, as @robwormald and I have recently discovered :(

[2016-02-08 19:05] robwormald commented on #63
_From @blesh on October 26, 2015 19:37_

Try it with RxJS 5.0.0-alpha.6 ... there were some bugs with `retry` and `retryWhen` that have been corrected.

[2016-02-08 19:05] robwormald opened #64 "feat(http): add support for withCredentials"
_From @martinsik on September 17, 2015 8:35_

Hey, I'm trying to figure out how to send cookies throught CORS but since I can't access `XMLHttpRequest` objects directly I'm not able to set `withCredentials` option. I remember using it with [$http in Angular 1.4](https://docs.angularjs.org/api/ng/service/$http).
Maybe I could do this by writting custom `XHRBackend`? Or is there any easier way?

_Co

[2016-02-08 19:05] robwormald commented on #64
_From @PascalPrecht on September 17, 2015 8:42_

@martinsik there are currently `credentials` properties, but they are not used anywhere yet. In fact, there's a pending PR to remove those properties until they are actually properly implemented: https://github.com/angular/angular/pull/3823

[2016-02-08 19:05] robwormald commented on #64
_From @martinsik on September 17, 2015 9:0_

@PascalPrecht This explains why setting `mode = RequestModesOpts.NoCors` or `credentials = RequestCredentialsOpts.Include` had no effect at all :).

So, the only thing I can do now is to wait until the Fetch spec is properly defined and properties are re-implemented?

[2016-02-08 19:05] robwormald commented on #64
_From @PascalPrecht on September 17, 2015 12:35_

Yes I'm afraid that's the case. Maybe @jeffbcross has some thoughts on this.

[2016-02-08 19:05] robwormald commented on #64
We're not actually using fetch at all, though in general we want the Http implementation to be fetch-like in its interfaces (of course, using Observables over Promises)

Once I finish RxNext porting (see: https://github.com/angular/angular/issues/4149), hopefully in the next couple of days, and then this sort of thing will be much easier to work with and improve on.

[2016-02-08 19:05] robwormald commented on #64
_From @vladimir-ivanov on November 24, 2015 10:4_

It is a bit unclear to me from this thread - is withCredentials going to be supported or not please?

[2016-02-08 19:05] robwormald commented on #64
_From @danipl on November 28, 2015 10:21_

@vladimir-ivanov me too, right now, and in the future, what can we do to set withCredentials?. At the moment, I should work with other JS libraries for the http requests, and it's not the best way to make it.

[2016-02-08 19:05] robwormald commented on #64
_From @PascalPrecht on November 28, 2015 10:58_

Yay, mr. @robwormald has something in the workings ~ https://github.com/angular/angular/pull/5501

[2016-02-08 19:05] robwormald commented on #64
i aim to please ;-)

[2016-02-08 19:05] robwormald commented on #64
_From @danipl on November 28, 2015 11:18_

Pleased succesfully done. Thank you! :)

[2016-02-08 19:05] robwormald commented on #64
_From @brianaprince on December 30, 2015 20:21_

If this has been fixed, was it included with the Angular2 2.0.0-beta.0?  If so, how do I turn credentials on?  I see some comments in #5501 but cannot figure out how to set it and not knowing if it is the current release is a concern.

[2016-02-08 19:05] robwormald commented on #64
_From @icereval on January 2, 2016 22:44_

@brianaprince, here is a workaround I've been using for now...

[code]

[2016-02-08 19:05] robwormald commented on #64
_From @brianaprince on January 4, 2016 12:15_

icereval, thanks for the workaround.

[2016-02-08 19:05] robwormald commented on #64
_From @yusugomori on January 5, 2016 0:22_

@brianaprince
I don't know if it would help but I've modified BaseRequestOptions to handle `withCredentials`. Forked repository is [here](https://github.com/yusugomori/angular/tree/add-feature-withCredentials), and PR is https://github.com/angular/angular/pull/6236. It would be helpful till this feature is officially supported.
[code]

[2016-02-08 19:05] robwormald commented on #64
_From @gustavolira on January 15, 2016 18:0_

+1

[2016-02-08 19:05] robwormald commented on #64
_From @gustavolira on January 19, 2016 12:0_

@icereval Thank you for you contribution, your workaround is working for me!
Please can you tell me how to add a custom header at that workaround?
Thank you

[2016-02-08 19:05] robwormald commented on #64
_From @icereval on January 20, 2016 0:29_

This is getting a bit off topic but I'll try my best to answer w/ a clear example, @gustavolira you should be able to use the builtin Angular2 Headers class: https://angular.io/docs/ts/latest/api/http/Headers-class.html

When performing a CORS request you'll need to ensure your preflight `OPTIONS` response contains the `Access-Control-Allow-Headers: X-Api

[2016-02-08 19:07] robwormald opened #65 "feat(http): add support for withCredentials"
_From @martinsik on September 17, 2015 8:35_

Hey, I'm trying to figure out how to send cookies throught CORS but since I can't access `XMLHttpRequest` objects directly I'm not able to set `withCredentials` option. I remember using it with [$http in Angular 1.4](https://docs.angularjs.org/api/ng/service/$http).
Maybe I could do this by writting custom `XHRBackend`? Or is there any easier way?

_Co

[2016-02-08 19:07] robwormald commented on #65
_From @PascalPrecht on September 17, 2015 8:42_

@martinsik there are currently `credentials` properties, but they are not used anywhere yet. In fact, there's a pending PR to remove those properties until they are actually properly implemented: https://github.com/angular/angular/pull/3823

[2016-02-08 19:07] robwormald commented on #65
_From @martinsik on September 17, 2015 9:0_

@PascalPrecht This explains why setting `mode = RequestModesOpts.NoCors` or `credentials = RequestCredentialsOpts.Include` had no effect at all :).

So, the only thing I can do now is to wait until the Fetch spec is properly defined and properties are re-implemented?

[2016-02-08 19:07] robwormald commented on #65
_From @PascalPrecht on September 17, 2015 12:35_

Yes I'm afraid that's the case. Maybe @jeffbcross has some thoughts on this.

[2016-02-08 19:07] robwormald commented on #65
We're not actually using fetch at all, though in general we want the Http implementation to be fetch-like in its interfaces (of course, using Observables over Promises)

Once I finish RxNext porting (see: https://github.com/angular/angular/issues/4149), hopefully in the next couple of days, and then this sort of thing will be much easier to work with and improve on.

[2016-02-08 19:07] robwormald commented on #65
_From @vladimir-ivanov on November 24, 2015 10:4_

It is a bit unclear to me from this thread - is withCredentials going to be supported or not please?

[2016-02-08 19:07] robwormald commented on #65
_From @danipl on November 28, 2015 10:21_

@vladimir-ivanov me too, right now, and in the future, what can we do to set withCredentials?. At the moment, I should work with other JS libraries for the http requests, and it's not the best way to make it.

[2016-02-08 19:07] robwormald commented on #65
_From @PascalPrecht on November 28, 2015 10:58_

Yay, mr. @robwormald has something in the workings ~ https://github.com/angular/angular/pull/5501

[2016-02-08 19:07] robwormald commented on #65
i aim to please ;-)

[2016-02-08 19:07] robwormald commented on #65
_From @danipl on November 28, 2015 11:18_

Pleased succesfully done. Thank you! :)

[2016-02-08 19:07] robwormald commented on #65
_From @brianaprince on December 30, 2015 20:21_

If this has been fixed, was it included with the Angular2 2.0.0-beta.0?  If so, how do I turn credentials on?  I see some comments in #5501 but cannot figure out how to set it and not knowing if it is the current release is a concern.

[2016-02-08 19:07] robwormald commented on #65
_From @icereval on January 2, 2016 22:44_

@brianaprince, here is a workaround I've been using for now...

[code]

[2016-02-08 19:07] robwormald commented on #65
_From @brianaprince on January 4, 2016 12:15_

icereval, thanks for the workaround.

[2016-02-08 19:07] robwormald commented on #65
_From @yusugomori on January 5, 2016 0:22_

@brianaprince
I don't know if it would help but I've modified BaseRequestOptions to handle `withCredentials`. Forked repository is [here](https://github.com/yusugomori/angular/tree/add-feature-withCredentials), and PR is https://github.com/angular/angular/pull/6236. It would be helpful till this feature is officially supported.
[code]

[2016-02-08 19:07] robwormald commented on #65
_From @gustavolira on January 15, 2016 18:0_

+1

[2016-02-08 19:07] robwormald commented on #65
_From @gustavolira on January 19, 2016 12:0_

@icereval Thank you for you contribution, your workaround is working for me!
Please can you tell me how to add a custom header at that workaround?
Thank you

[2016-02-08 19:07] robwormald commented on #65
_From @icereval on January 20, 2016 0:29_

This is getting a bit off topic but I'll try my best to answer w/ a clear example, @gustavolira you should be able to use the builtin Angular2 Headers class: https://angular.io/docs/ts/latest/api/http/Headers-class.html

When performing a CORS request you'll need to ensure your preflight `OPTIONS` response contains the `Access-Control-Allow-Headers: X-Api

[2016-02-08 19:07] robwormald commented on #65
note that you can just do `someObservable.toPromise()` rather than that
wrapping business.... you just need to import the toPromise operator:

import 'rxjs/add/operator/toPromise'

someObservable.toPromise()

[2016-02-08 19:07] robwormald commented on #65
_From @smithrobs on January 26, 2016 18:25_

Is there a reason why this hasn't made it to master? I see that this is still open and #5501 from @robwormald was merged but there's no code included. Seems strange to me, but I'm not a core committer. Would be nice to have this.

[2016-02-08 19:07] robwormald commented on #65
_From @xealot on January 29, 2016 15:13_

The patch from @icereval works for me, very ugly though. This is sort of a must for CORS.

[2016-02-08 19:07] robwormald commented on #65
_From @sumigoma on February 4, 2016 19:44_

Would also love to have this for CORS support.

[2016-02-08 19:07] robwormald commented on #65
_From @michalstepien on February 4, 2016 20:23_

Yes, would be nice to have `withCredentials` flag .

[2016-02-08 19:07] robwormald commented on #65
_From @panKt on February 4, 2016 23:48_

Just stumbled upon the same problem, hope it will resolve soon

[2016-02-08 19:07] robwormald commented on #65
_From @ffsantos92 on February 7, 2016 23:8_

+1

[2016-02-08 19:08] robwormald opened #66 "Remove facade from HTTP since it is JS only"
_From @mhevery on August 11, 2015 21:52_

Currently HTTP module depends on facade, which just adds bulk and is not needed since it is JS only.

Blocked by #3579 and #2794

_Copied from original issue: angular/angular#3595_

[2016-02-08 19:08] robwormald commented on #66
_From @mhevery on August 11, 2015 21:53_

/cc @jeffbcross

[2016-02-08 19:08] robwormald commented on #66
_From @jeffbcross on August 11, 2015 22:4_

Will be js-only after #3579, currently it supports dart.

[2016-02-08 19:08] robwormald commented on #66
_From @caitp on August 11, 2015 22:17_

what about the EventEmitter/Observable stuff? That's build into Facade, and seems hard to remove

[2016-02-08 19:08] robwormald commented on #66
_From @jeffbcross on August 11, 2015 22:19_

@caitp http will export Rx Observables directly with #2794

[2016-02-08 19:08] robwormald commented on #66
_From @mgechev on September 30, 2015 10:49_

I can take this one. As far as I see, soon [EventEmitter will removed](https://github.com/angular/angular/pull/4424) as dependency of http so there will be no more blocking issues.

[2016-02-08 19:08] robwormald commented on #66
_From @jeffbcross on September 30, 2015 17:46_

@mgechev yep! And you should coordinate with @robwormald to prevent stepping on each other's toes, since he's doing a lot inside `Http`.

[2016-02-08 19:08] robwormald commented on #66
_From @jeffbcross on September 30, 2015 17:47_

I'll self-assign this for now, but will consider @mgechev as the actual assignee.

[2016-02-08 19:08] robwormald commented on #66
i've more or less completed this anyway whilst refactoring the Observable stuff, just a couple more bits on the MockBackend to remove to go, and then it should be just the isFunction and whatnot kind of things.

[2016-02-08 19:08] robwormald commented on #66
_From @jeffbcross on September 30, 2015 17:58_

In that case, do you want to just task on a commit to your PR removing the remaining facade stuff, @robwormald ?

[2016-02-08 19:08] robwormald commented on #66
OK with me. I'd love some help with the next phase (refax of EventEmitter and such in the facade itself), but i think in Http i have it under control.

Q - handy things like "isFunction" - they're in the facade but useful, should they be pulled as well?

[2016-02-08 19:09] robwormald opened #67 "Http module should also resolve url (include base url)"
_From @gdi2290 on August 9, 2015 19:54_

While creating the Node version (for [universal#73](https://github.com/angular/universal/pull/73)) I ran into a problem where we needed the url to be resolved with a baseUrl before it's sent. We had to recreate `XHRConnection` as `NodeConnection` in order to find out the error was being thrown on `.send()`. What was suppose to be a simple `BrowserXhr` di sw

[2016-02-08 19:09] robwormald commented on #67
_From @jeffbcross on October 8, 2015 18:50_

@gdi2290 can you give some more info on the use case you're trying to support? You want the app, running on the server, to make an http request for a resource on the same server? What is the actual url of the request that's being made, and what is it expected to be?

[2016-02-08 19:10] robwormald opened #68 "refactor(http): rename URLSearchParams to something else"
_From @caitp on August 6, 2015 20:9_

TL;DR: Rename `URLSearchParams` to `QueryParams`.

----

I've discussed with @jeffbcross that it would be wise to rename the class, as we are considering having a behaviour which differs from the WHATWG's version of the interface --- naming this differently could help minimize confusion when using the API.

Some ideas:

-`SearchQuery`
-`SearchParameters`
-`Sea

[2016-02-08 19:10] robwormald commented on #68
_From @caitp on August 6, 2015 21:18_

This is really a discussion, because it's not super clear the direction it should go in, and eventually the API needs to be frozen, or become as close to frozen as possible. I invite people to input their perspective on it. If a decision is arrived at quickly, then it will surely be a very short change to make.

[2016-02-08 19:10] robwormald commented on #68
_From @mhevery on August 19, 2015 23:12_

@jeffbcross and @btford could we get a resolution, since we need to get all breaking changes in soon.

[2016-02-08 19:10] robwormald commented on #68
_From @btford on August 20, 2015 19:58_

I'm not familiar with `URLSearchParams`. Is this for HTTP? If this is for serializing data to send to some end-point, then I think it's a totally distinct issue from how routing interacts with the URL.

[2016-02-08 19:10] robwormald commented on #68
it seems like the preferred nomenclature is `query` over `search`, so `QueryParams`? URLParams make me think of `foo/:bar` and Search isn't really a thing.

[2016-02-08 19:10] robwormald commented on #68
_From @jeffbcross on August 20, 2015 23:6_

@btford yeah, it's just for Http and is used for serializing parameters. I originally created it as a polyfill for the [`URLSearchParams`](https://url.spec.whatwg.org/#urlsearchparams) constructor that accompanied the [fetch spec](https://fetch.spec.whatwg.org). @caitp had discussed adding/changing some of its merging semantics, and decided that we shoul

[2016-02-08 19:10] robwormald commented on #68
_From @jeffbcross on August 20, 2015 23:17_

Regarding how to handle merging behavior, I'm going to give it some more thought, but I would like to have specialized merging functions not be part of the `QueryParams` prototype to better embrace immutability. I'll open an issue or two on Monday to implement params merging, as well as necessary changes to `RequestOptions` merging.

[2016-02-08 19:10] robwormald opened #69 "feat(http): automatically set request Content-Type header based on body type"
_From @jeffbcross on July 6, 2015 19:3_

This is specific to the XhrBackend implementation, based on request body types for which it doesn't automatically set Content-Type headers.

When forming "write" requests inside of `http.request`, the "Content-Type" header should be set for certain request body types that the user agent doesn't implicitly set, using the body extraction steps described here:

[2016-02-08 19:10] robwormald commented on #69
_From @mgechev on October 10, 2015 17:42_

I can take this one.

Do we have to implement it only for `http.request`? I see that `http.post`, `http.patch`, `http.put` accept strings as `body` but don't you think they should be extended to work with other data types as well?

[2016-02-08 19:10] robwormald opened #70 "feat(http): support use by AngularJS 1.x applications"
_From @jeffbcross on July 6, 2015 18:1_

In order to ease the transition from AngularJS 1.x apps to Angular 2, the http module should be possible to be used in AngularJS 1.x applications, though not necessarily as a drop-in replacement for `$http`.

Some considerations:

 * DI and module systems are different, but the current architecture should allow for easily creating a module and service for h

[2016-02-08 19:11] robwormald opened #71 "feat(http): automatically set request Content-Type header based on body type"
_From @jeffbcross on July 6, 2015 19:3_

This is specific to the XhrBackend implementation, based on request body types for which it doesn't automatically set Content-Type headers.

When forming "write" requests inside of `http.request`, the "Content-Type" header should be set for certain request body types that the user agent doesn't implicitly set, using the body extraction steps described here:

[2016-02-08 19:11] robwormald commented on #71
_From @mgechev on October 10, 2015 17:42_

I can take this one.

Do we have to implement it only for `http.request`? I see that `http.post`, `http.patch`, `http.put` accept strings as `body` but don't you think they should be extended to work with other data types as well?

[2016-02-08 19:11] robwormald commented on #71
This issue was moved to angular/http#69

[2016-02-08 19:11] robwormald opened #72 "feat(http): support use by AngularJS 1.x applications"
_From @jeffbcross on July 6, 2015 18:1_

In order to ease the transition from AngularJS 1.x apps to Angular 2, the http module should be possible to be used in AngularJS 1.x applications, though not necessarily as a drop-in replacement for `$http`.

Some considerations:

 * DI and module systems are different, but the current architecture should allow for easily creating a module and service for h

[2016-02-08 19:11] robwormald commented on #72
This issue was moved to angular/http#70

[2016-02-08 19:12] robwormald opened #73 "feat(http): helpers/guides for short polling"
_From @jeffbcross on July 1, 2015 18:41_

Short polling consists of an application requesting data from the same endpoint at a specified interval (i.e. request any new comments on this github issues every 10 seconds), as opposed to long polling, which consists of making a request, and the backend waiting to complete that request until there's data to send. (i.e. request new comments on a github is

[2016-02-08 19:12] robwormald commented on #73
_From @blesh on July 6, 2015 23:46_

Why not have a custom operator on your Request observable type? Let's call it `poll`...

[code]

This could actually return a BehaviorSubject or the like, so it's a "hot" observable, and when you subscribe to it, you get the most recent response. One tricky bit about polling is you want to make sure the previous one completes before you do the next one. Otherwi

[2016-02-08 19:12] robwormald opened #74 "feat(http): add timeout support to `Request`"
_From @jeffbcross on July 1, 2015 4:40_

Since `XMLHttpRequest` in JS/Browser and `HttpRequest` in Dart both allow specifying a timeout to automatically abort requests, the `Request` object should allow specifying this property.

Fetch doesn't yet support manual cancellation or user-defined timeout, and it could have undesired effects if timeout functionality were implemented in the `Http` library

[2016-02-08 19:12] robwormald opened #75 "feat(http): Support many types of body on Request/Response and all ConnectionBackend implementations"
_From @jeffbcross on July 1, 2015 0:24_

These types should be supported by all backends, as much as each backend is technically capable of supporting:

 * FormData (for request only)
 * Blob
 * Document (for response only)
 * Text (String)
 * JSON

TBD: ArrayBufferView/ArrayBuffer?

All expected response types should be able to be explicitly declared on the `Request`, so that they can be optimize

[2016-02-08 19:13] robwormald opened #76 "refactor(http): only use readyState in mock connection"
_From @jeffbcross on June 30, 2015 23:28_

`Connection` instances have a readyState property, with corresponding `ReadyState` enum with values borrowed from `XMLHttpRequest` [readyState](http://www.w3.org/TR/XMLHttpRequest/#dom-xmlhttprequest-readystate) spec. The readyState is useful for tests to easily determine when connections have been fulfilled or not. All use cases for watching `readyState`

[2016-02-08 19:13] robwormald commented on #76
_From @live2trance on August 4, 2015 3:48_

I've started to tackle this one but i've a question.
I've added the new states to http enums, removed the readyState property from the Connection interface and renamed it under the mock_backend to state. But now under the Jsonp_backend i've some logic that checks for the cancelled state under the state property, but i don't have it under the states and i

[2016-02-08 19:13] robwormald opened #77 "feat(http): implement streaming upload/download"
_From @jeffbcross on June 30, 2015 22:35_

A user should be able to provide observers as part of a `Request` or `RequestOptions` object in order to receive progress updates and chunks of data for uploading and downloading of data.

Download observers will receive `Responses`, while upload observers will receive some form of [Progress Event](https://developer.mozilla.org/en-US/docs/Web/API/Progress

[2016-02-08 19:13] robwormald commented on #77
_From @letmejustfixthatohitsbroken on February 1, 2016 18:58_

since there wasn't an update in 6 months here, is there any information when this feature is going to be implemented? I want to build a server-sided push-service using a constant http-stream and would love this very much.

[2016-02-08 19:13] robwormald opened #78 "RFC: Http interceptors and transformers"
_From @jeffbcross on June 22, 2015 17:41_

This issue is intended to define requirements for how the `Http` library should support common operations, like request and response transformations and error handling. The issue doesn't yet have a proposed design, but discussion, comments and suggestions are welcomed. Un-captured use cases are especially welcomed.

# History

Two widely-used feature of a

[2016-02-08 19:13] robwormald commented on #78
This sort of approach makes a lot of sense to me, and generally just feels more composable and less configure-all-the-things. All for it.

Might be worthwhile looking at doing the same sort of thing $http does, where the .then( returns the raw response, but has a couple of helper methods ( .success / .error ) which purely return the response data vs the whole response...

`http.request('foos.json'

[2016-02-08 19:13] robwormald commented on #78
_From @blesh on July 6, 2015 23:13_

If you wanted to do some sort of global transformers, you could have some globally registered function, but *rather than just a mapping function*, you could use a *flatMapping function* that gives you a stream of requests, and you output a stream of modified requests. i.e.:

[code]
this would allow either synchronous or asynchronous actions to occur to do thing

[2016-02-08 19:13] robwormald commented on #78
_From @blesh on July 6, 2015 23:15_

Further thought on this: Presuming that each `request` was an observable itself, you could actually use an Rx mechanism (the `timeout` operator) to introduce a timeout with this design, if you so chose:

[code]

[2016-02-08 19:13] robwormald commented on #78
I'd definitely like to see more "compose / wrap it yourself" APIs vs yet-another-thing-that's-angular2-specific-that-you-have-to-look-up-in-the-docs - the current API for interceptors is a bit of a nightmare (create a factory that you register with a provider in a config block) and as @jeffbcross said, mutable global state ftl... I often talk to a couple of different APIs from an app, and global i

[2016-02-08 19:13] robwormald commented on #78
_From @blesh on July 7, 2015 0:8_

@robwormald you're probably right. In fact, it might be better advice to tell people to compose over their requests themselves by wrapping the http service.

In fact, I think I'd like to 👎 this feature in favor of advising people to wrap the http service and use that.

[2016-02-08 19:13] robwormald commented on #78
_From @blesh on July 7, 2015 0:9_

... which is exactly what @jeffbcross had said to begin with. :P haha

[2016-02-08 19:13] robwormald commented on #78
_From @jeffbcross on July 7, 2015 0:17_

Ha, well I'd like to make sure we do due diligence, and explore ways we can make these things clear and simple, short of saying "go watch all of @blesh's RxJS tutorials, then create some wrapper services, and you're done." I tend to lean away from the declarative, "everything-on-config" approach of Angular 1, but still think there may be helpers that could

[2016-02-08 19:13] robwormald commented on #78
is it heresy to suggest we provide an `HttpClient` base class one could extend and configure themselves?

something like
[code]
I know I just said composition, and I prefer the wrap-it method, but it seems the choices are:
- extensible base class
- teach 'em how to wrap
- explaining how to do all the bind() jazz to override some injectable config.

[2016-02-08 19:13] robwormald commented on #78
_From @blesh on July 7, 2015 1:24_

Perhaps helpers could come in the flavor of helpers to extend our wrap the service? I'm not sure what this looks like, just spitballing.

[2016-02-08 19:13] robwormald commented on #78
_From @lehmamic on July 7, 2015 6:7_

I would prefer a general interception mechanism in Angular2 which is not only dedicated to an http service. This would allow a lot more possibilities.

I entered an issue for that yesterday #2893

Wrapping a service would make sense if you do this for only one service, but this is not very productive if you need to do this for many services, e.g. adding automa

[2016-02-08 19:13] robwormald commented on #78
_From @thelgevold on September 12, 2015 20:15_

It's been a while since I looked at http in Angular 2.0. But after digging through the Angular source code, and doing a POC for my blog,  my impression was that it follows some variation on this pattern:

http://www.syntaxsuccess.com/viewarticle/angular-2.0-and-http

Is this pattern still part of the vision?

My initial stab at this was very simplist

[2016-02-08 19:13] robwormald commented on #78
Hey Torgeir

Thanks for the input - I'll write a more in depth response later, but have a look at this plunk and it might answer some of your initial questions : http://plnkr.co/edit/ul0NVGadmGi3v6nywGRw

[2016-02-08 19:13] robwormald commented on #78
_From @thelgevold on September 12, 2015 20:47_

Thanks @robwormald I will definitely take a look at that plunk!

[2016-02-08 19:13] robwormald commented on #78
_From @e-oz on September 13, 2015 9:46_

I'm glad to see this approach, when we use DI instead of global changes. To make this approach work with 3-party libraries too, we need to encourage them to require Http as dependency (if they need Http to work).

Please don't make this mistake again. $http.success/error is a very handy thing but it breaks the API signature - gives wrong expectation. For ex

[2016-02-08 19:13] robwormald commented on #78
_From @PascalPrecht on September 13, 2015 11:12_

I agree with @e-oz here to *not* introduce sth. like `.success()` and `.error()`. Those have also been deprecated in Angular 1.4 for the reasons @e-oz mentioned.

[2016-02-08 19:13] robwormald commented on #78
The difference with the success/error idea in observable is that it's an *operator* - and adding operators is completely acceptable in Observable land (rxnext has a specific API for extending) - vs the terminator.
- http.get(url).filter(res => res.statusCode > 200).map(res => res.json()).subscribe(onSuccess)
- http.get(url).success().subscribe(onSuccess)
- http.get(url).toJSON().subscribe(onSucces

[2016-02-08 19:13] robwormald commented on #78
_From @mkretz on October 31, 2015 23:46_

@jeffbcross one use case to consider might be the following: using $http interceptors in Angular 1 you can ensure that certain behaviour (e.g. redirect for authentication) is there by default, without developers having to remember to use a  particular wrapper or shared service. Would this kind of default behaviour still be possible in Angular 2 using the w

[2016-02-08 19:13] robwormald commented on #78
_From @mkretz on November 1, 2015 21:46_

@jeffbcross ... ok, I think I can answer my own question now: you would use something like `provide(Http, {useClass: MyConfiguredHttp})` at the root of the component tree to override Http with the wrapper. The use case I mentioned is thus covered by the wrapper approach.

[2016-02-08 19:13] robwormald commented on #78
_From @jeffbcross on November 12, 2015 19:23_

@mkretz yep, totally fine to override the binding like that for the universal stuff like logging. Though for backend-specific logic, like redirecting to a login page on auth errors, it's probably better to create a backend-specific service to do this, and inject that service every place you want to communicate with that backend. This approach helps si

[2016-02-08 19:13] robwormald commented on #78
_From @angexis on December 2, 2015 16:57_

Hello,
I'll be trying to answer the questions... the one I know for sure is:

Yes for sure!

Now a more controversial one:

I may not have taken enough time to read the RxJs docs and tutos but it seems to me that whatever Angular2 gains in simplicity wrt Angular1 is lost by the use of RxJs... Again, it's probably all my fault but that's my initial feeling

[2016-02-08 19:13] robwormald commented on #78
_From @angexis on December 4, 2015 18:4_

Following my previous post, I struggled a bit (among others because of bug #5237) but managed to reach my goal (with alpha 47 where that bug is fixed).

Forget about my comment regarding RxJs... it's probably a very good way to go now that I learned it a bit.

However, overriding an Http service is still a quite verbose task (see my complete solution below

[2016-02-08 19:13] robwormald commented on #78
_From @blesh on December 4, 2015 21:39_

Global http interceptors seem like an anti-pattern to me. They'd be better to compose in.

[code]

And then you'd just use `myHttp` everywhere you wanted the intercepted behavior. Ideally, you'd name it something more appropriate like "processedHttp" or "specialApiHttp" or something.

[2016-02-08 19:13] robwormald commented on #78
_From @jeffbcross on December 4, 2015 22:20_

@angexis it will usually be simpler to inject `Http` into a service than to extend it. This way, it's not necessary to manage injecting the correct dependencies into your subclass. But it's not totally unreasonable if you want to have something that behaves almost exactly like `Http` but with some different logic to communicate with a specific backend.

[2016-02-08 19:13] robwormald commented on #78
_From @angexis on December 5, 2015 9:35_

@jeffbcross yes, that would be great if ```Http``` could call ```Http.request``` in all its methods!

Ideally, building the ```Request``` should be re-usable as well... so that only the real call to the ```ConnectionBackend``` would need to be redefined in the derived class.

Today, it is the code in the function (not a *method*)
[code]
I am still a bit pu

[2016-02-08 19:13] robwormald commented on #78
_From @rodrigouroz on December 23, 2015 13:49_

So, after having read all the posts and comments I'm still a little baffled about how to implement what I'm trying to achieve.

I'm trying to implement a library that I like a lot from Angular 1 (https://github.com/chieffancypants/angular-loading-bar)

In order to show in the UI that there are pending http requests, I need someway to intercept every

[2016-02-08 19:13] robwormald commented on #78
_From @jamesthurley on December 23, 2015 18:21_

I just wanted to pick up on what @thelgevold was saying about using RxJS in Angular 2's Http class.

In practical terms you can easily convert from a promise to an observable using a [single function](https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/frompromise.md), and similarly you can convert from an observable to a

[2016-02-08 19:13] robwormald commented on #78
_From @thelgevold on December 23, 2015 18:29_

@jamesthurley I am still making up my mind about Promises vs Observables, but we had an interesting debate recently here: https://github.com/angular/angular/issues/5876

[2016-02-08 19:15] robwormald opened #79 "perf(http): provide means to optimize response parsing"
_From @jeffbcross on June 18, 2015 4:49_

Right now, the `Response` object lazily parses the response body, based on what "getter" method is called: `json()`, `text()`, etc. The `json` method will attempt to parse the body at the time the method is called, which can be expensive for large requests. By allowing the response type to be declared ahead of time, `XMLHttpRequest` can perform the parsing

[2016-02-08 19:15] robwormald opened #80 "RFC: Http interceptors and transformers"
_From @jeffbcross on June 22, 2015 17:41_

This issue is intended to define requirements for how the `Http` library should support common operations, like request and response transformations and error handling. The issue doesn't yet have a proposed design, but discussion, comments and suggestions are welcomed. Un-captured use cases are especially welcomed.

# History

Two widely-used feature of a

[2016-02-08 19:15] robwormald commented on #80
This sort of approach makes a lot of sense to me, and generally just feels more composable and less configure-all-the-things. All for it.

Might be worthwhile looking at doing the same sort of thing $http does, where the .then( returns the raw response, but has a couple of helper methods ( .success / .error ) which purely return the response data vs the whole response...

`http.request('foos.json'

[2016-02-08 19:15] robwormald commented on #80
_From @blesh on July 6, 2015 23:13_

If you wanted to do some sort of global transformers, you could have some globally registered function, but *rather than just a mapping function*, you could use a *flatMapping function* that gives you a stream of requests, and you output a stream of modified requests. i.e.:

[code]
this would allow either synchronous or asynchronous actions to occur to do thing

[2016-02-08 19:15] robwormald commented on #80
_From @blesh on July 6, 2015 23:15_

Further thought on this: Presuming that each `request` was an observable itself, you could actually use an Rx mechanism (the `timeout` operator) to introduce a timeout with this design, if you so chose:

[code]

[2016-02-08 19:15] robwormald commented on #80
I'd definitely like to see more "compose / wrap it yourself" APIs vs yet-another-thing-that's-angular2-specific-that-you-have-to-look-up-in-the-docs - the current API for interceptors is a bit of a nightmare (create a factory that you register with a provider in a config block) and as @jeffbcross said, mutable global state ftl... I often talk to a couple of different APIs from an app, and global i

[2016-02-08 19:15] robwormald commented on #80
_From @blesh on July 7, 2015 0:8_

@robwormald you're probably right. In fact, it might be better advice to tell people to compose over their requests themselves by wrapping the http service.

In fact, I think I'd like to 👎 this feature in favor of advising people to wrap the http service and use that.

[2016-02-08 19:15] robwormald commented on #80
_From @blesh on July 7, 2015 0:9_

... which is exactly what @jeffbcross had said to begin with. :P haha

[2016-02-08 19:15] robwormald commented on #80
_From @jeffbcross on July 7, 2015 0:17_

Ha, well I'd like to make sure we do due diligence, and explore ways we can make these things clear and simple, short of saying "go watch all of @blesh's RxJS tutorials, then create some wrapper services, and you're done." I tend to lean away from the declarative, "everything-on-config" approach of Angular 1, but still think there may be helpers that could

[2016-02-08 19:15] robwormald commented on #80
is it heresy to suggest we provide an `HttpClient` base class one could extend and configure themselves?

something like
[code]
I know I just said composition, and I prefer the wrap-it method, but it seems the choices are:
- extensible base class
- teach 'em how to wrap
- explaining how to do all the bind() jazz to override some injectable config.

[2016-02-08 19:15] robwormald commented on #80
_From @blesh on July 7, 2015 1:24_

Perhaps helpers could come in the flavor of helpers to extend our wrap the service? I'm not sure what this looks like, just spitballing.

[2016-02-08 19:15] robwormald commented on #80
_From @lehmamic on July 7, 2015 6:7_

I would prefer a general interception mechanism in Angular2 which is not only dedicated to an http service. This would allow a lot more possibilities.

I entered an issue for that yesterday #2893

Wrapping a service would make sense if you do this for only one service, but this is not very productive if you need to do this for many services, e.g. adding automa

[2016-02-08 19:15] robwormald commented on #80
_From @thelgevold on September 12, 2015 20:15_

It's been a while since I looked at http in Angular 2.0. But after digging through the Angular source code, and doing a POC for my blog,  my impression was that it follows some variation on this pattern:

http://www.syntaxsuccess.com/viewarticle/angular-2.0-and-http

Is this pattern still part of the vision?

My initial stab at this was very simplist

[2016-02-08 19:15] robwormald commented on #80
Hey Torgeir

Thanks for the input - I'll write a more in depth response later, but have a look at this plunk and it might answer some of your initial questions : http://plnkr.co/edit/ul0NVGadmGi3v6nywGRw

[2016-02-08 19:15] robwormald commented on #80
_From @thelgevold on September 12, 2015 20:47_

Thanks @robwormald I will definitely take a look at that plunk!

[2016-02-08 19:15] robwormald commented on #80
_From @e-oz on September 13, 2015 9:46_

I'm glad to see this approach, when we use DI instead of global changes. To make this approach work with 3-party libraries too, we need to encourage them to require Http as dependency (if they need Http to work).

Please don't make this mistake again. $http.success/error is a very handy thing but it breaks the API signature - gives wrong expectation. For ex

[2016-02-08 19:15] robwormald commented on #80
_From @PascalPrecht on September 13, 2015 11:12_

I agree with @e-oz here to *not* introduce sth. like `.success()` and `.error()`. Those have also been deprecated in Angular 1.4 for the reasons @e-oz mentioned.

[2016-02-08 19:15] robwormald commented on #80
The difference with the success/error idea in observable is that it's an *operator* - and adding operators is completely acceptable in Observable land (rxnext has a specific API for extending) - vs the terminator.
- http.get(url).filter(res => res.statusCode > 200).map(res => res.json()).subscribe(onSuccess)
- http.get(url).success().subscribe(onSuccess)
- http.get(url).toJSON().subscribe(onSucces

[2016-02-08 19:15] robwormald commented on #80
_From @mkretz on October 31, 2015 23:46_

@jeffbcross one use case to consider might be the following: using $http interceptors in Angular 1 you can ensure that certain behaviour (e.g. redirect for authentication) is there by default, without developers having to remember to use a  particular wrapper or shared service. Would this kind of default behaviour still be possible in Angular 2 using the w

[2016-02-08 19:15] robwormald commented on #80
_From @mkretz on November 1, 2015 21:46_

@jeffbcross ... ok, I think I can answer my own question now: you would use something like `provide(Http, {useClass: MyConfiguredHttp})` at the root of the component tree to override Http with the wrapper. The use case I mentioned is thus covered by the wrapper approach.

[2016-02-08 19:15] robwormald commented on #80
_From @jeffbcross on November 12, 2015 19:23_

@mkretz yep, totally fine to override the binding like that for the universal stuff like logging. Though for backend-specific logic, like redirecting to a login page on auth errors, it's probably better to create a backend-specific service to do this, and inject that service every place you want to communicate with that backend. This approach helps si

[2016-02-08 19:15] robwormald commented on #80
_From @angexis on December 2, 2015 16:57_

Hello,
I'll be trying to answer the questions... the one I know for sure is:

Yes for sure!

Now a more controversial one:

I may not have taken enough time to read the RxJs docs and tutos but it seems to me that whatever Angular2 gains in simplicity wrt Angular1 is lost by the use of RxJs... Again, it's probably all my fault but that's my initial feeling

[2016-02-08 19:15] robwormald commented on #80
_From @angexis on December 4, 2015 18:4_

Following my previous post, I struggled a bit (among others because of bug #5237) but managed to reach my goal (with alpha 47 where that bug is fixed).

Forget about my comment regarding RxJs... it's probably a very good way to go now that I learned it a bit.

However, overriding an Http service is still a quite verbose task (see my complete solution below

[2016-02-08 19:15] robwormald commented on #80
_From @blesh on December 4, 2015 21:39_

Global http interceptors seem like an anti-pattern to me. They'd be better to compose in.

[code]

And then you'd just use `myHttp` everywhere you wanted the intercepted behavior. Ideally, you'd name it something more appropriate like "processedHttp" or "specialApiHttp" or something.

[2016-02-08 19:15] robwormald commented on #80
_From @jeffbcross on December 4, 2015 22:20_

@angexis it will usually be simpler to inject `Http` into a service than to extend it. This way, it's not necessary to manage injecting the correct dependencies into your subclass. But it's not totally unreasonable if you want to have something that behaves almost exactly like `Http` but with some different logic to communicate with a specific backend.

[2016-02-08 19:15] robwormald commented on #80
_From @angexis on December 5, 2015 9:35_

@jeffbcross yes, that would be great if ```Http``` could call ```Http.request``` in all its methods!

Ideally, building the ```Request``` should be re-usable as well... so that only the real call to the ```ConnectionBackend``` would need to be redefined in the derived class.

Today, it is the code in the function (not a *method*)
[code]
I am still a bit pu

[2016-02-08 19:15] robwormald commented on #80
_From @rodrigouroz on December 23, 2015 13:49_

So, after having read all the posts and comments I'm still a little baffled about how to implement what I'm trying to achieve.

I'm trying to implement a library that I like a lot from Angular 1 (https://github.com/chieffancypants/angular-loading-bar)

In order to show in the UI that there are pending http requests, I need someway to intercept every

[2016-02-08 19:15] robwormald commented on #80
_From @jamesthurley on December 23, 2015 18:21_

I just wanted to pick up on what @thelgevold was saying about using RxJS in Angular 2's Http class.

In practical terms you can easily convert from a promise to an observable using a [single function](https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/frompromise.md), and similarly you can convert from an observable to a

[2016-02-08 19:15] robwormald commented on #80
_From @thelgevold on December 23, 2015 18:29_

@jamesthurley I am still making up my mind about Promises vs Observables, but we had an interesting debate recently here: https://github.com/angular/angular/issues/5876

[2016-02-08 19:15] robwormald commented on #80
_From @blesh on December 23, 2015 19:13_

Observables can be converted to promises with `toPromise()` or `forEach()` and Promises can be converted to Observables with `Observable.from()`. Also, most operators that accept Observables accept promises.

[2016-02-08 19:15] robwormald commented on #80
_From @rodrigouroz on December 24, 2015 14:15_

I have this use case: I want to be able to do something each time an http request starts and ends.

I tried with no luck to extend the Http class and use that one.

[code]

And then in the bootstrap:
[code]

However it doesn't work. I tried several different ways, this is my latest attempt. I get: "Exception: No provider for ConnectionBackend!"

What

[2016-02-08 19:15] robwormald commented on #80
_From @angexis on December 27, 2015 16:19_

@rodrigouroz you can achieve that with the sample code I posted above...

[2016-02-08 19:15] robwormald commented on #80
_From @rodrigouroz on December 29, 2015 13:12_

@angexis so you can't just extend the class and add your logic and then calling the parent method?
It's very error prone to me to just have to reimplement the Http class yourself. Of course it's a copy and paste but if later on the implementation changes you end up with an old implementation. The extension would be much clearer IMHO.

Thanks, I'll gi

[2016-02-08 19:15] robwormald commented on #80
_From @riaann on December 29, 2015 13:18_

Another use-case for the list: being able to transparently batch requests occurring within a short time of each other to reduce round trips (until HTTP/2 is more ubiquitous). This is especially useful for ReST APIs where page navigation could trigger multiple requests.

This is an example of a library that implements this strategy for Angular 1: jonsamwel

[2016-02-08 19:15] robwormald commented on #80
_From @jamesthurley on December 29, 2015 13:22_

@rodrigouroz you don't have to re-implement it as such, you could use composition rather than inheritance.

A more basic example that you could build off would be:

[code]

[2016-02-08 19:17] robwormald opened #81 "refactor(http): move mock_backend to test_lib module"
_From @jeffbcross on June 16, 2015 0:52_

To be consistent with other submodules, the mock_backend should be exported on a new `test_lib` module in http, so it will not be loaded in production code or bundles.

_Copied from original issue: angular/angular#2554_

[2016-02-08 19:17] robwormald commented on #81
_From @naomiblack on June 23, 2015 12:21_

@jeffbcross this was in alpha-28 but no one was assigned to it. I'm moving to alpha-29, but it needs an assignee. Any suggestions?

[2016-02-08 19:17] robwormald commented on #81
_From @jeffbcross on June 25, 2015 4:29_

@naomiblack sorry slow to follow-up. I'll take it, will be a quick change after I land #2714.

[2016-02-08 19:17] robwormald commented on #81
_From @rixrix on September 7, 2015 13:27_

Hi,

I'd like to work on this task and started some initial work on it. It's on my branch at the moment, would be good to get some feedback. thanks

[2016-02-08 19:17] robwormald commented on #81
_From @PascalPrecht on September 7, 2015 13:30_

@rixrix LGTM could you send a PR?

[2016-02-08 19:17] robwormald commented on #81
_From @rixrix on September 7, 2015 13:41_

@PascalPrecht thanks for looking into this. PR sent.

[2016-02-08 19:17] robwormald commented on #81
_From @jeffbcross on October 29, 2015 22:53_

We ended up deciding to move http test dependencies into a separate module and bundle, which for now will be called `http_testing`. Sorry for being slow to update this issue, and thanks for the PR @rixrix! I think @robwormald has started some work on this as part of other work he's been doing, so I'll assign this to him for now.

[2016-02-08 19:17] robwormald commented on #81
_From @rixrix on October 30, 2015 1:6_

@jeffbcross no problem at all and thanks for looking into this ;)

[2016-02-08 20:45] Barryrowe commented on #65
For anyone that's looking for a workaround that is a little less bulky in your methods calling HTTP and will let you rip it all out in one place once this issue is resolved:

[code]

Thanks to @mwawrusch for supplying this in the google group [here](https://groups.google.com/forum/#!searchin/angular/CORS/angular/oNNi5Fm4R1o/lbLmpC5PCgAJ)

[2016-02-08 21:13] benjamingr commented on #56
I've been pinged so I _assume_ you're asking for some feedback. Feel free to ignore otherwise.

Please no, the only reason `Observable.from` has it in es-observable is that it needs to be compatible with `Array.from`. Adding optional selector arguments is something that should only be done if chaining can't be supported. This is something Rx and implementations need to optimize - it's a trivial op

[2016-02-08 21:43] gdi2290 commented on #61
:+1:
Time to JSON

[2016-02-08 22:20] blesh commented on #56
We're open to suggestions.

[2016-02-08 23:18] robwormald commented on #56
apologies, you got pinged because we moved this issue over from the core repo

[2016-02-08 23:55] #78 closed

[2016-02-09 02:50] rodrigouroz commented on #80
@robwormald What I ended up doing and works perfectly for my case is this:

[code]

And the when I bootstrap the application I just provide this backend:

[code]

[2016-02-09 05:25] #64 closed

[2016-02-09 21:33] gdi2290 commented on #67
there was a mistake as I thought `baseUrl` was `url`
![czr9urlwiaacnfo](https://cloud.githubusercontent.com/assets/1016365/12930897/ba76375c-cf2f-11e5-846f-431d64da42b7.jpg)
although `baseUrl` also needed to be supported anyways our restriction on the server is that the url needs to be a fully qualified url

[2016-02-10 12:53] templth commented on #69
@robwormald: I would say yes since you can provide any kind of payload to them ;-) Is this repository now dedicated to the HTTP module of Angular2? I would be interested in contributing to the HTTP module...

[2016-02-10 13:32] touqeer-wal opened #82 "bower install error"
When i run

`bower install` on windows cmd on my project folder it triggers:

"invalid-meta angular-http is missing "ignore" entry in bower.json"

any solution ?

[2016-02-11 10:53] templth commented on #77
I made some tests regarding this feature.

* For download (see this plunkr: http://plnkr.co/edit/8MDO2GsCGiOJd2y2XbQk?p=preview), we can rely on the `onprogress` attribute of XHR. The associated callback will be called to get hints about the current amount of data received.

[code]

With download, it's not always possible to get the pourcentage of received data since the total length of the payloa

[2016-02-11 16:13] templth commented on #52
@danielgerlag To map the response of 400 responses, you could simply use the `catch` operator and throw the JSON content for the error with `Observable.throw`, as described below:

[code]

Does this correspond to your need?

[2016-02-12 02:07] danielgerlag commented on #52
It can work but I feel it should not be up to the XHRBackend class to make decisions based on message content.  It is simply the mail man, and mail men aren’t supposed to read your mail.  This breaks the single responsibility principle.

From: Thierry Templier [mailto:notifications@github.com]
Sent: Thursday, 11 February 2016 8:14 AM
To: angular/http <http@noreply.github.com>
Cc: Daniel Gerlag <da

[2016-02-12 11:32] andrashatvani commented on #60
I need a way for specifying array parameters, too. What's the preferred way in the meantime?

[2016-02-12 23:30] templth opened #83 "The responseType property isn't supported by the HTTP support"
A workaround for this consits of extending the `BrowserXhr` class of Angular2 as described below to set the `responseType` to `blob` on the underlying xhr object:

[code]

Then you need to wrap the response payload into a `Blog` object and use the __FileSaver__ library to open the download dialog:

[code]

The __FileSaver__ library must be included into the HTML file:

[code]

See this plunkr: htt

[2016-02-19 23:54] jacargentina commented on #65
@robwormald What happens with this? Please include on the next beta!

[2016-02-21 20:14] TFleury opened #84 "Add the ability to pass a reviver function to Http Response's Json method"
`Json.Parse`  method supports passing a reviver function. It's especially useful to correctly handle date parsing from JSON.

[2016-02-22 04:45] langley-agm commented on #80
@rodrigouroz I'm not sure that example works perfectly. For some reason Angular 2 decided to make http observables lazy, the request doesn't get made until you actually subscribe to the observable, your `ProgressIndicatorConnection.observer.next(Actions.START);` gets called immediately doesn't matter whether someone has subscribed to it or not.

One more thing... I'm not sure why is Angular 2 make

[2016-02-22 05:44] robwormald commented on #80
the "some reason" Http Observables are lazy and re-subscribable is that Observables are lazy and re-subscribable :)

I'd strongly caution against re-implementing the HttpBackend - for a start, it means you'll have to re-implement your own TestBackend to get the same semantics as your patched one. Ditto for Connection. They're not private, exactly, but fair warning.

Wrapping your own http is surel

[2016-02-22 06:25] langley-agm commented on #80
They are lazy because they start emitting the data until you subscribe to them. There's a difference between when you start emitting the data and when you are retrieving it from a remove server isn't? You can retrieve the data when you call the request and don't emit it until someone actually subscribes to it, they are two different things or am I lost? Are cold and hot observables related to this

[2016-02-22 07:04] robwormald commented on #84
Interesting, I'd entirely forgotten this was a thing. In theory, its easily doable, but one thing I'd like to be able to do with http eventually is to leverage the async JSON parser from the fetch API, which doesn't support this functionality (because the parsing happens in C++ land) - see https://github.com/whatwg/fetch/issues/104 for a bit more detail on that.

[2016-02-23 11:25] jacargentina commented on #65
The problem i have with the solution from @Barryrowe is: the first POST i send is for login (generating the credentials), so i get the error

    error: "Missing credentials"

When i debug it and manually avoid the `xhr.withCredentials = true;` for the first call (the login one), then everything works fine.

Any idea on how to solve this? I mean, in the `CORSBrowserXHR` class i dont have any conte

[2016-02-23 16:12] sphaso commented on #62
+1
I've noticed the same behavior: no custom headers are set when the endpoint is POST. I tried changing the endpoint from POST to GET and I get the headers (obviously I'm also changing http.post to http.get clientSide).

[code]

[2016-02-24 01:20] langley-agm commented on #80
@robwormald I wanted to thank you again for taking the time to show me a working example, it certainly teached me a lot.

After understanding your code I was able to do it in many different ways, this is the way I'll be doing it for now ( probably will change it once the implementation of Http does ):

[code]
and
[code]

The `ProgressBar` is just my own class that handles when to start and stop th

[2016-02-24 14:39] harikrishna266 commented on #65
For me its working in Chrome and Firefox, but not in Safari and IE

[2016-02-24 22:01] templth commented on #65
@robwormald I implemented this feature in my fork of the angular repo in the http-with-credentials-issue65 branch (https://github.com/templth/angular/tree/http-with-credentials-issue65). Feel free to tell if this can help...

[2016-02-25 18:44] micharg commented on #77
@templth I have tested your code (for download) and it works fine. Only one consideration... XHR with HTTP Streaming can "dramatically increases memory usage" (see [here](https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/35_QSL1ABTY)) since all the chunks are kept in memory although we may be interested only for the current chunk. In comparison the Fetch API remembers only the curre

[2016-02-26 11:27] templth commented on #65
Submitted a PR for this issue. Feel free to make me your comments!

[2016-02-27 10:31] karayv commented on #75
Any workarounds for FormData? I need to upload file. Thank you.

[2016-02-28 12:04] gsans commented on #58
I agree with comments. Some extra class to cover for common use cases would be great.

[2016-02-28 23:13] cassand commented on #75
Here are some ideas for the implementation of buffer type :

* Use an enumeration for the response type so developers can benefit from IDE autocompletion.

* Buffer type is declared on the Request with an attribute "buffer" (not "responseType" to not conflict with [Fetch Api ResponseType](https://fetch.spec.whatwg.org/#responsetype) )

Syntax Example :
[code]
Expose a Body interface which could be

[2016-02-29 09:03] templth commented on #75
I implemented a support a `FormData` in requests in the PR #7310. Feel free to make more you comment.

Here is a sample of use:

    let blob = new Blob(['body { color: red; }'], { type: 'text/css' });

    let form = new FormData();
    form.append('test1', 'val1');
    form.append('test2', 123456);
    form.append("userfile", blob);

    return this.http.post('https://contactsapi.apispark.net1/v

[2016-02-29 09:06] templth commented on #62
I encountered this problem when forgetting to import the `Headers` class. No error but my custom headers weren't sent.

    import {Headers, ...} from 'angular2/http';

    buildRequestOptions (user) {
        var headers = new Headers();

        headers.set('machCode', [user.machCode]);
        headers.set('token', [user.token]);
        headers.set('secretCode', [user.secretCode]);

        ret

[2016-02-29 09:27] sphaso commented on #62
@templth thanks, but no such luck I'm afraid. It might help to know that I'm using CORS.

[2016-02-29 10:09] templth commented on #62
@sphaso Which version of Angular2 do you use? I would be interested in a plunkr to reproduce. I'm sure to have successfully added a `Content-Type` header in a POST request... Thanks!

[2016-02-29 10:40] sphaso commented on #62
@templth I'm using Angular2-beta6 in an ionic2 project. I'll see if I can create a plnkr. Thanks!

[2016-03-01 13:26] sphaso commented on #62
@templth Here's a plunkr http://plnkr.co/edit/DVh6cy
ATM I don't even see the call in the console... I've probably made some other mistake in the process :)

[2016-03-02 00:26] jeffbcross commented on #49
- [ ] Start by creating copy of http source to this repo from angular/angular (source of truth will still be in angular/angular until migration complete)
- [ ] Resolve http PRs on `angular/angular`
- [ ] Get angular.io building http API reference from this repo
- [ ] Set up internal sync process
- [ ] Set up build process, and verify that output is consistent with what gets published to npm curren

[2016-03-02 06:16] gkalpak commented on #49
- [ ] Update README.md (when migration complete)

[2016-03-02 08:39] templth commented on #84
Good idea! I created a PR for this issue: https://github.com/angular/angular/pull/7369. Feel free to make me your comment...

[2016-03-02 08:41] templth commented on #83
This PR fixes this issue: https://github.com/angular/angular/pull/7260.

[2016-03-02 14:34] jeffbcross commented on #49
@gkalpak :+1:

[2016-03-02 17:29] gustavolira commented on #54
Any news about this?

[2016-03-02 19:23] tbosch commented on #49
How do we make sure that `http` is matching the current `angular2` version?
I.e. should we integrate the CI processes?
Or whenever we release a new angular2 release we would release http a little later so we can fix problems / API changes?

[2016-03-02 19:32] jeffbcross commented on #49
@tbosch I think we would just update the http lib's dependencies after angular2 releases. The only real dependency Http has on angular is DI, so only if DI changed significantly would we incur problems. If breaking changes to DI are on the way, we could do manual testing with http + angular, but I don't think a CI setup would be worthwhile. The CI setup would either have an unlocked dependency on

[2016-03-02 19:32] jeffbcross commented on #49
I also think we should move the http e2e tests from angular/angular to angular/http.

[2016-03-02 20:33] alvipeo commented on #54
I used fetch and XMLHttpRequest for now, as Rob told me. Works for now (where fetch is supported)

[2016-03-02 20:38] gustavolira commented on #54
Can you give a example?

[2016-03-02 20:43] alvipeo commented on #54
Here's the code (part of it) from my test:
[code]

or
[code]

[2016-03-02 20:49] gustavolira commented on #54
My problem is that I'm using angular2-jwt, so I'm using their AuthHttp to make the requests with token and so on.... =(

[2016-03-02 21:02] alvipeo commented on #54
Never used it. So no way of using fetch and XMLHttpRequest in there?

[2016-03-02 21:24] robwormald opened #85 "Convert index based enums to string types"
From:
[code]
to
[code]

[2016-03-02 21:42] Maks3w commented on #85
The same is applicable to the rest of enums

[2016-03-02 21:45] Maks3w commented on #82
It's not an error, just a warning.

[2016-03-03 13:54] saralamuralikrishna commented on #65
thanks @Barryrowe, it works for me.

[2016-03-03 21:49] Barryrowe commented on #65
Good point @jacargentina I didn't think about that since our use case is with WindowsAuth/NTLM scenario.

You could setup the fake CORSBrowserXHR to have a service injected to it, and in that service you maintain whether you've gotten an auth token or not, and just update the service once you've passed a successful first login. Hopefully that won't be necessary soon and this will get pushed in an

[2016-03-04 17:41] templth opened #86 "feat(http): implement progress observers for upload / download"
Created from the issue https://github.com/angular/http/issues/77.

Leverages what is provided by the XHR object to be notified about progress:

* `xhr.upload.onprogress` for upload
* `xhr.onprogress` for download

[2016-03-04 17:42] templth commented on #77
@micharg Thanks very much, Mike, for your comment! I definitely agree with you for streaming... Moreover I think that there are several things here:

* the ability to be notified of the request (upload) or response (download) progress
* data streaming itself

I created a new issue for the first point.

[2016-03-04 19:43] robwormald opened #87 "consider adding xml as a responseType / method on response."
Ref : https://github.com/angular/angular/issues/7284

We should investigate:
- how much of a need for this API exists
- use cases
- tradeoffs - DOMParser() returns a `Document` object which would need to be further parsed into a vanilla POJO to be useful.
- support: XHR vs fetch spec (does not exist in fetch spec)
etc

[2016-03-07 11:44] sphaso commented on #62
@templth I figured what wasn't working in the previous plnkr, here's a new one:
http://plnkr.co/edit/Z6L3WB

As you can see there's none of the request headers set.
Apparently calls are not made if there's no "subscribe" method attached.

[2016-03-07 11:51] sphaso opened #88 "Calls are not performed if the Observable doesn't have a subscribe method attached"
By looking in the dev tools, I won't see this call:
[code]
But I will see this one:
[code]

I've made a plnkr with an example: http://plnkr.co/edit/rQ5SQd

[2016-03-07 12:09] templth commented on #62
@sphaso In fact, when using the `post` method, the second parameter is the payload and not the request options. This was the problem... See this plunkr: http://plnkr.co/edit/VcE7kH?p=preview. Otherwise, yes, you're right, you need to subscribe to actually execute HTTP calls since observables are lazy.

[2016-03-07 12:09] laco0416 commented on #88
That's correct. Http requests are always _cold_ streams.

See: http://www.bennadel.com/blog/3035-http-requests-are-cold-lazy-streams-in-angular-2-beta-6.htm

[2016-03-07 12:09] templth commented on #88
It's because observables are lazy. You need to subscribe to initialize them...

[2016-03-07 12:13] sphaso commented on #88
Ah I see, thank you.
That's the burden of ignorance. I'll close this.

[2016-03-07 12:13] #88 closed

[2016-03-07 12:15] sphaso commented on #62
@templth thank you!

[2016-03-07 13:14] fxck commented on #75
merge incoming anytime soon @robwormald ?

[2016-03-09 01:16] jeffbcross opened #89 "feat(Response): implement Response.prototype.toString() to make for a nicer error message"
If a `Response` is `onError`'d from http, and the application doesn't handle it, a vague exception will be raised, such as `Unhanded [Object object]`. We should implement a `toString` method on `Response` so that if the error isn't properly handled, a more useful description of the problem will display in the console.

See https://daveceddia.com/angular-2-errors/#exception-object-object for contex

[2016-03-09 13:40] templth commented on #89
@jeffbcross I created the corresponding PR for this: https://github.com/angular/angular/pull/7511. I saw that the statusText isn't set on the response...

[2016-03-09 13:41] templth opened #90 "feat(response): the statusText isn't set on XHR responses"
For an HTTP response, the statusText of XHR isn't set on `Response` objects. This way the status text is always `OK`.

[2016-03-09 15:09] dceddia commented on #89
Nice! This will take care of #7143 :) Should I close that one?

[2016-03-13 10:40] bruceesmith commented on #65
Is there any estimate of when/if the commit from @templth will make it into a released beta? This is a show stopper for an app I'm developing.

[2016-03-14 08:47] alex-nesterov commented on #65
+1 This is a show stopper for an app I'm developing.

[2016-03-14 19:15] ppitdevelopment commented on #65
+1 I need this feature too

[2016-03-14 19:19] PascalPrecht commented on #65
Please stop +1'ing with comments on this issue. It *won't* speed up the process.

If you **really** want to +1 use [GitHub's Reactions](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments) for that. This makes sure our inboxes are not bombed by +1's.

Thanks!

[2016-03-20 21:46] MarkoSulamagi commented on #75
Any updates?

// This issue is not coming out of google really well. I spent around an hour trying to use Http service, before I found this issue in some stackoverflow post.

[2016-03-25 12:56] mzhua commented on #75
@templth   The post method of the http only support string body now, if you want to use post method with formdata, i suggest you try this: First,set your header to "x-www-form-urlencoded". Second, set you body as : "test1=val1&test2=123456". But i also still don't how to upload file with angular http . Hope this would be helpful

[2016-03-28 14:44] laco0416 commented on #59
Any updates on this? I want this feature at the Angular 2 final.

[2016-04-07 13:39] leosvelperez commented on #75
@robwormald any updates on adding support for ArrayBuffer, Blob?
any plans on merge [7260](https://github.com/angular/angular/pull/7260) any time soon?
we are needing this feature

[2016-04-12 17:40] zigzag95 commented on #65
The workaround doesn't work when using post with header content-type.
Incompatible with option verb.

[2016-04-22 18:44] gustavolira commented on #54
Hi,
Please, any news about this issue?

[2016-04-25 11:40] vladimirgamalian commented on #54
May be someone knows a temporary hack/workaround?

[2016-04-25 12:24] mgechev commented on #54
Using fetch you only need to add the `Authorization` header. Here's [an example](https://auth0.com/blog/2015/09/10/jwt-authentication-with-observables/).

[2016-04-27 14:25] nachaos commented on #65
@robwormald was there a reason for not merging PR https://github.com/angular/angular/pull/5501?

[2016-04-29 15:30] mprobst opened #91 "Automatic support for XSRF tokens"
Like in Angular 1, if there is a cookie called `XSRF-TOKEN` (name should be configurable), `Http` should automatically read it and echo it back on every XHR request as `X-XSRF-TOKEN` (configurable).

That'll allow applications to conveniently enable server side XSRF protection.

[2016-04-29 15:30] mprobst commented on #91
@robwormald @jeffbcross FYI

[2016-04-29 15:32] mprobst opened #92 "Automatic support for XSSI mitigation"
`Http` should automatically check if responses start with the special string `")]}',\n"`, and strip it before processing the result as e.g. JSON.

See "JSON vulnerability" here: https://docs.angularjs.org/api/ng/service/$http

[2016-04-29 15:32] mprobst commented on #92
@jeffbcross @robwormald FYI

[2016-04-29 15:33] mprobst commented on #91
See also documentation in Angular 1 here: https://docs.angularjs.org/api/ng/service/$http

[2016-04-30 09:38] simo14 commented on #58
Agreed. I would like to be able to respond a subset of my fake data on request. That way I could have a customized fake response for my whole service test suite. Maybe I am missing something, but I cannot find documentation on how to do the following:
beforeEach("fake http requests", inject(XHRBackend], (backend) => {
    /*body would ideally depend on request options. If requestOptions body has a

[2016-05-03 18:10] JustinPierce commented on #54
I noticed that Angular 2 seems to have hit the release candidate stage. Is this going to be fixed before release, or is everyone going to be rolling their own network access?

[2016-05-08 19:56] yelhouti commented on #54
it seems like this was assigned to @jeffbcross in the file https://github.com/angular/http/blob/13553e7df0ee2617933de06392d644e0633ae8fe/src/XHRConnection.js line 43: //TODO (jeffbcross): analyse status and handle problems
could you fix it Jeff please before the beta is done, status codes are very important in many APIs, and used widely as you know.

[2016-05-15 10:52] MikeErmolaev commented on #52
@templth in my opinion catching Response object is really bad. Catch is supposed to accept error objects. And this could be error-prone and lead to redundant workarounds

[2016-05-19 11:19] perstromswe commented on #65
+ 1. This issue stopped me on my app.

[2016-05-23 12:02] ammar91 commented on #80
@langley-agm How did you handle the finally operator in your example. `XHRConnection ` response expect `Observable<Response>`,  I'm curious to know what you had inside your `progressbar service onRequestFinished `method,

[2016-05-23 19:58] langley-agm commented on #80
@ammar91

1) That example will not work in the newest versions of Angular 2. That implementation broke with the release candidate version. I probably won't refactor it until there's a more stable version.

2) Nothing too fancy:

	@Injectable()
	export class ProgressBar{
		...
		private _requestEvent:Subject<RequestEvent> = new Subject();
		...
		public onRequestStarted = () => this._requestEvent.n

[2016-05-23 20:27] smitchell commented on #54
I still have this issue. In the console, I see this (I was testing error handling while our test environment was unwell).

But what my code receives is this:

The calling code looks like this:

[code]
Here you see how the logging above was done.

[code]

Is something that I'm doing, or not doing, causing Angular 2 to swallow the 400 error I see in the log?

[2016-05-24 18:42] #69 closed

[2016-05-24 18:54] #65 closed

[2016-05-25 12:07] stakach commented on #53
@robwormald I think the easiest way to implement this is that only response headers are downcased when the response headers object is created.

Then developers can be made aware to **always access response headers using downcased keys**.

The rest of the Headers class code can remain as is so that case sensitive headers can be sent without issue.

Currently Chrome returns downcased response header

[2016-05-25 12:44] zoechi commented on #53
Does

mean they should be modified to lowercase or should the casing just be ignored in compairsons. I think it's the 2nd.

Even when this violates the spec, I have seen cases where it caused issues when the server expected the exact same header back that it sent with the response.

[2016-05-25 12:57] stakach commented on #53
This is already impossible with the majority of browsers in use today. If it is a requirement for someone it can be achieved outside of Angular.

[2016-05-26 11:16] flocheke7 commented on #62
I have the same problem
my code :
        let body = JSON.stringify(applicationLink);
        let requestHeaders = new Headers();

        var headers = new Headers();

        headers.set('Content-Type',  ['application/json']);
        headers.set('Access-Control-Allow-Origin', ['*']);

        let reqoptions =  new RequestOptions({
            headers: headers
        });

        return this._h

[2016-05-26 11:26] sphaso commented on #62
@flocheke7 the OPTIONS request you're seeing is correct since it's a CORS scenario. Did you enable CORS server-side?

[2016-05-26 11:33] flocheke7 commented on #62
@sphaso  yes , and when i call get request , i works correctly

[2016-05-26 17:38] #89 closed

[2016-05-27 01:21] robertjd commented on #54
@smitchell has described the problem very accurately, and I'm seeing it as well.  It appears that http development has moved back to the main angular repo, so angular/angular#6138 seems to be the relevant one again.

[2016-05-30 06:30] huyaxiong commented on #75
Hey,hows going?now i am using rc.1,meet the same problem.

[2016-05-30 12:20] smith64fx commented on #57
Using JSONP_CALLBACK instead of JSON_CALLBACK in the url fixed the issue for me aswell :-)

[2016-06-06 19:17] templth commented on #74
Added a PR for this feature: https://github.com/angular/angular/pull/9045.

[2016-06-09 10:11] ph1ll commented on #65
@zigzag95

I had this problem, however in my case the issue was not due to the workaround. The preflight OPTIONS requests are sent anonymously and therefore I was receiving 401 errors. Double check that your API allows access anonymously for the preflight OPTIONS requests. After the anonymous preflight OPTIONS request, credentials will be correctly sent for the POST request.

[2016-06-09 17:11] mprobst commented on #92
This has been fixed in the main repo.

[2016-06-09 17:11] #92 closed

[2016-06-09 17:11] mprobst commented on #91
This has been fixed in the main repo.

[2016-06-09 17:11] #91 closed

[2016-06-14 16:11] smitchell commented on #54
Changing the syntax of my call from this;

` .catch(this.handleSigninError);`

To this:

`.catch((res: Response) => this.handleSigninError(res));`

Seems to have fixed my problem. For the first time I've seen the actual error code returned to my error handler:

`handleSigninError {"_body":"{\"timestamp\":1465920358459,\"status\":500,\"error\":\"Internal Server Error\",\"exception\":\"com.netflix.z

[2016-06-14 16:15] awerlang commented on #54
this is due to dynamic vs lexical `this`. Another way:

[code]

[2016-06-16 16:06] luciomr commented on #75
Hi, everyone! Any updates on this issue so far? Specifically the File upload support?

[2016-06-16 16:19] fabricioferreira commented on #75
@luciomr, it seems that RC2 added support for many features around the http component, including WithCredentials and Content Type, where you can define the contents being of blob, file, etc.

I haven't had a chance to check it yet, as in my first try to upgrade from RC1 to RC2 presented a lot of issues.

[2016-06-17 20:47] fdoddridge commented on #54
I am seeing this exact behavior, and the workaround @smitchell proposes above does not work.  I cannot seem to get access to the parent error with the "real" status codes.

I'm using: "@angular/http": "2.0.0-rc.1"

[2016-06-17 21:17] awerlang commented on #54
@fdoddridge this repo is inactive, as per README. Moved to angular/angular. See the linked issues.

[2016-06-18 10:48] Krisa commented on #75
I was also looking for the blob() method but I'm so far getting [this exception](https://github.com/angular/angular/blob/master/modules/%40angular/http/src/static_response.ts#L92)

[2016-06-19 20:32] dloukola commented on #75
I had to write my own using XHR. I couldn't wait for the angular team to
finish. When it comes in, I'll consider using the built in one.

On Saturday, 18 June 2016, Christophe Vidal <notifications@github.com>
wrote:

--
Dave Loukola
613-261-4654

[2016-06-20 15:30] luciomr commented on #75
finish.

Same here. But I want to use the built in alternative instead.

[2016-06-20 15:50] fabricioferreira commented on #75
I'm currently using a hacked version of the http module, in order to support blobs and the withCredentials. In a week or two I'll give a try to the RC2 (I'm currently on RC1).

[2016-06-20 22:02] #54 closed

[2016-06-23 07:01] huyaxiong commented on #75
FormData is support now,i test it in rc.3
Heres demo:
  var formData = new FormData(<HTMLFormElement>$('#entrustment-form')[0]);
        let headers = new Headers({'Content-Type': undefined});
        let options = new RequestOptions({
            headers: headers,
            processData: false,
            contentType: false
        });
        this._http.post(this._projectUrl, formData, options

[2016-06-23 11:01] snarum commented on #65
@zigzag95 Do you know how to configure IIS Express to allow this? I'm not experiencing any problems on win2012 R2, but on my dev machine with IIS Express I get the 401 randomly.

[2016-06-23 11:12] ph1ll commented on #65
@snarum If you are using ASP.NET Core with Visual Studio you should have the option to enable both anonymous and windows auth in the project settings (or launchsettings.json). VS will then configure IIS Express correctly.

![image](https://cloud.githubusercontent.com/assets/6841205/16301135/8ca91544-393b-11e6-8edb-6939bc977383.png)

[2016-06-23 11:26] snarum commented on #65
Thanks @ph1ll, thats usefull. But when I do that, all API requests are forwarded to a Login page. I'm using the AuthorizeAttribute class on my Controller, and as far as I know I haven't configured Forms Authentication. Experienced anything similar?

![image](https://cloud.githubusercontent.com/assets/5821202/16301526/1a1fc742-3946-11e6-8759-296d6afd1847.png)

[2016-06-23 11:36] snarum commented on #65
Never mind. I had some Rc1 workaround code that was messing up. Works after I removed that.

[2016-06-23 13:13] aliasjad commented on #65
@Barryrowe, I tried your solution and it worked on AppComponent like a charm. But on other components, it is still giving me the 401 Not Authorized. Is there any way to overcome this issue?

[2016-06-23 13:41] Barryrowe commented on #65
@aliasjad I'm not sure what you mean by "other component services" here?  If you use ```provide``` to override in your core bootstrap, anything that would depend on BrowserXhr should have the overridden version injected.

I would also suggest upgrading to rc2 since this issue was resolved with that release:  https://github.com/angular/angular/blob/master/CHANGELOG.md#200-rc2-2016-06-15

[2016-06-23 21:41] vicb commented on #75
/related https://github.com/angular/angular/pull/7260

[2016-06-24 18:18] aliasjad commented on #65
@Barryrowe, I have upgraded angular version to RC3 and following is the code I am using for sending call to my API service,

var options = new RequestOptions({
            withCredentials: true
        });
        //var req = new Request(options);
        this.httpService.get("http://192.168.143.91:10001/Home/GetMessage?message=Promise Call", options).subscribe(data =>
        {
            alert(

[2016-06-24 18:43] Barryrowe commented on #65
@alisjad I can't say 100% what the issue is. I will say, in this example there's no need to build a ```RequestOptions``` object, you can just pass your options object into the get() method like:

[code]

I would look at the request object in dev tools and make sure the auth header(s) you're expecting are being sent. If the request has the credentials, you are encountering a different problem than

[2016-06-24 18:51] zigzag95 commented on #65
if you are using two servers you have to implement CORS.

[2016-06-24 19:00] aliasjad commented on #65
@zigzag95, I have implemented the cors as I am using 2 servers and I am able to send request to it through ajax call with credentials set to true. But not able to do that through http.get(). Any suggestions?
@Barryrowe the headers are same for ajax and http.get call. Any other suggestion for this.

[2016-06-24 19:10] Barryrowe commented on #65
@aliasjad if the request has the same credentials header for the call that does work, and the call that doesn't this isn't an issue with the "withCredentials" feature but something with your CORS configuration. There are several things that could be wrong that are outside the scope of this issue. Make sure your content-types, Methods, and headers are all accepted. If you're sending a Content-Type

[2016-07-04 18:15] voliva commented on #80
Hey everyone,

I created a custom implementation of Http that lets you add interceptors, you can check it out in my github repo: https://github.com/voliva/angular2-interceptors

I called it InterceptorService, and it extends from Http. The Interceptor interface is a basic two-method interceptBefore(request) and interceptAfter(response) where you can do anything you want with the reques/response, e

[2016-07-05 15:10] wwjhu opened #93 "The XHRConnection class should have support for cancellation of requests"
In Chrome the following scenario leads to a dangling subscriber and failing application state.

1. Create an app with a beforeunload handler that always returns a string
2. Add code to execute an XHR call and subscribe
3. While the XHR is pending (Charles can be helpful here) click on bookmark in the bookmarks bar.
4. When asked stay on the page
4. Observe that the request weas cancelled but that

[2016-07-11 14:34] runtheyards commented on #75
My fix was to add the header `"content-type", "application/x-www-form-urlencoded"` and then re-purpose the `new URLSearchParams()` to convert and object into a url encoded string:

[code]

[2016-07-17 17:40] nosachamos commented on #75
It'd be great to have this for angular's upcoming 1.0 release.

[2016-07-17 18:04] zoechi commented on #75
@nosachamos as far as I understand it, this is unrelated to Angular 1.0 release. The Http module will not be part of Angular2 core that will be released as 1.0, but instead versioned individually and maintained as an external module and will reach 1.0 later.

[2016-07-17 18:27] nosachamos commented on #75
Yes, right, perhaps I expressed myself not too well. What I meant is that, whenever angular 2 reaches 1.0, a lot of people will start using it for larger and more complex apps, and in those file uploads tend to appear as a requirement more often than not. So even though the http module might not be at 1.0, it'd be great to support this (even if not in it's final form) before core is at 1.0.

[2016-07-19 15:02] saurabhvyas commented on #54
I am still getting this issue on rc3

[2016-07-19 16:53] vicb commented on #54
- Please do not comment on closed issues,
- Create a new issue with a plunker. Thanks

[2016-07-24 18:57] Yarisrespect commented on #62
Hello, I have same problem, when I send post request with header 'Content-type': 'application/json', but it sends Content-Type: text/plain, application/json

[2016-07-24 19:04] Yarisrespect commented on #62
I found out, text/plain send becouse of "body = JSON.stringify(item);"
When I put item directly to the post "this._http.post(this.apiUrl, body, options);" it works.

[2016-08-10 17:28] Sandybhai opened #94 "Problem making POST request to another port in localhost"
I have tried making a POST request to a server running on another port in my localhost as follows --
$http({
    url: 'http://localhost:3002/signup',
    method: "POST",
    data: JSON.stringify({username:$scope.username, pass:$scope.pass}),
    headers: {'Content-Type': 'application/json'}
}).success(function (response) {
    console.log("sucesssful POST request")
}).error(function (response) {

[2016-08-10 18:03] arlowhite commented on #77
Thank you for working on this. I just wanted to add a simple use case and some commentary. Reading this issue, it's not clear to me if this is for binary streams or if you already have JSON in mind, but it would be nice if Angular2 supported chunked JSON streams.

I'm working on a charting app and like the idea of progressively updating the chart as soon as data starts to arrive in a chunked respo

[2016-08-13 00:22] vicb commented on #94
That's CORS check Google

[2016-08-13 00:22] #94 closed

[2016-08-15 07:40] dennify opened #95 "http GET: body is null (TypeError: Cannot read property 'toString' of null)"
I created a http GET request with the following code:
[code]

And I get the following error:
[code]

The line at Request.Body.text (http.umd.js:1138) is:
`return this._body.toString();`

`this._body` is undefined, that causes the error.

The Htttp.get is defined at http.umd.js:1793 and here is the options Object given in the params:
[code]

Hope you can understand the problem and can fix it easily

[2016-08-15 08:04] dennify commented on #95
Move to https://github.com/angular/angular/issues/10806

[2016-08-15 08:57] #95 closed

[2016-08-17 12:17] gnujeremie opened #96 "Use of '+' character in URLSearchParams()"
Code exemple
[code]

If ```values[i]``` has a '+' character in it, then it is replaced by spaces.

[2016-08-22 14:28] gabrielmaldi commented on #53
IIS 10 serving through HTTPS lowercases header names (it doesn't do so on HTTP).

Angular 1 currently does what @stakach [said](https://github.com/angular/http/issues/53#issuecomment-221553866): when it creates the response headers object, it lowercases header names, and exposes a getter that lowercases the passed key: https://github.com/angular/angular.js/blob/master/src/ng/http.js#L208

[2016-09-22 08:52] mmc41 commented on #84
@templth Has this feature gone/moved or is it missing a decl. In angular 2 final, the json() method is on the Body class and here there is no way to set a reviver ?

[2016-10-02 20:48] junglebarry commented on #57
This caught me out too, and I'd second the argument put forward by Barryrowe: why not just let `Jsonp` control the name of the callback function by default?  Seems like unnecessary cognitive load to force the developer to specify a fixed query param pattern, especially now that `Jsonp` is a separate service.

There's a related point for my use case, however: the key name for the callback query par

[2016-10-02 20:58] junglebarry commented on #57
How embarrassing... the key *is* configurable in the main repo, because its value is ignored, and the replacement targets only the string `JSONP_CALLBACK`.  However, when I tested this, I fell foul of the `JSON_CALLBACK` issue, then corrected it for `callback=JSONP_CALLBACK`.  On working backwards through it, I have no new issue to report.  Apologies...

[2016-10-03 14:43] laserus commented on #96
+1.

This is a bug. I have a time in ISO8601 as param and it just removes + from +3:00

[2016-10-03 14:50] laserus commented on #96
The correct place of the issue:
https://github.com/angular/angular/issues/11058

[2016-10-03 15:11] #96 closed

[2016-10-17 14:07] WarGot-by opened #97 "Problem with lowercase Access-Control-Request-Headers"
Before I send POST request with custom header Authorization fires OPTIONS query. In OPTIONS responce I see Access-Control-Request-Headers : **authorization** with 400 error

In POST request I send

`Accept	application/json

Accept-Encoding	gzip, deflate, br

Accept-Language	en-US,en;q=0.5

**Authorization**	Bearer yJhbGciOiJSUzI1NiIsInR5cCI6IkpXUyJ9.eyJ1c2VybmFtZSI6Imdlb3JnLnBhdWxlbmthIiwiaWF0Ijoi

[2016-10-18 05:38] vicb commented on #97
Angular 1.x issues should be reported to angular/angular.js

@jeffbcross @robwormald could you please close this issue tracker ?

[2016-10-18 07:45] #97 closed

[2016-10-20 17:26] squadwuschel commented on #80
Are there some news from the Angular team to this toppic - best practices or good examples? Because I need to say I am a bit new to RxJs and so most examples you wrote I don't understand how it works or how I could implement it into my webapplication so that I understand what I am doing here. That was the great thing about the ng1 implementation for Interceptors it was VERY EASY TO USE! Would be g